<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <rewrite>
            <rules>
                <rule name="Redirect to https">
                    <match url="(.*)"/>
                    <conditions>
                        <add input="{HTTPS}" pattern="Off"/>
                        <add input="{REQUEST_METHOD}" pattern="^get$|^head$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}"/>
                </rule>
                <rule name="Redirect to chdestination">
                    <match url=".*"/>
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="www.chdestination.com" negate="true" />
                    </conditions>
                    <action type="Redirect" url="https://www.chdestination.com/notice.html"/>
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
            <mimeMap fileExtension=".json" mimeType="application/json"/>
        </staticContent>
    </system.webServer>
</configuration>
