<nav class="side-nav myorder-wrap" data-ng-controller="AdminMenuController">
    <dl data-ng-repeat="group in menuItems">
        <dt data-ng-class="{active:group.active}"><i class="icon-caret-right"></i>{{group.title | translate}}</dt>
        <dd data-ng-repeat="item in group.items">
            <a href data-ng-click="clickMenuItem(item.id)" data-ng-class="{active:item.active}">{{item.title | translate}}</a>
        </dd>
    </dl>
    <!--<dl>-->
        <!--<dt><i class="icon-caret-right"></i>{{'MY_TRIPS'|translate}}</dt>-->
        <!--<dd><a href data-ng-click="clickMenuItem(0)" data-ng-class="{active:menuItems[0].active}">Trips</a></dd>-->
    <!--</dl>-->
    <!--<dl>-->
        <!--<dt><i class="icon-caret-right"></i>My Account</dt>-->
        <!--<dd><a href data-ng-click="clickMenuItem(1)" data-ng-class="{active:menuItems[1].active}">Finance Info</a></dd>-->
        <!--<dd><a href data-ng-click="changePassword()">{{"CHANGE_PASSWORD"|translate}}</a></dd>-->
    <!--</dl>-->
</nav>
