<div class="modal fade" data-ng-controller="ConsentRequiredModalController">
    <div class="modal-dialog">
        <div class="modal-content">
            <script type="text/ng-template" id="ConsentRequiredModal.html">
                <style>
                    .tab-info {
                        padding:10px;
                        max-height:200px;
                        overflow: auto;
                    }
                </style>
                <div class="modal-header">
                    <button type="button" class="close" data-ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
                    <h4>Add To Shopping Cart</h4>
                </div>
                <div class="modal-body">
                    <div data-ng-show="message != ''">
                        <div><strong>Important Information</strong></div>
                        <div class="tab-info" data-ng-bind-html="message"></div>
                        <br>
                    </div>
                    <div data-ng-show="onRequest">
                        <div><strong>On Request</strong></div>
                        <span>Please note that this item is not available. For this item a inventory request is sent to the supplier. When this request is denied you will be notified and the item in your trip will be marked unavailable automatically. You will have the option to replace the item with another.</span>
                        <br>
                    </div>
                    <div data-ng-show="required" class="text-right">
                        <input type="checkbox" data-ng-model="agreed">&nbsp;I have read and agree to the above.
                        <br>
                    </div>
                    <hr data-ng-show="isService">
                    <div data-ng-show="isService" class="form-group">
                        <label>Service Time(24 hours format, 2:00PM is 1400):</label><input class="form-control" type="text" maxlength="4" data-ng-model="serviceTime">
                        <label data-ng-show="product.hasTransport">Pick Up:</label><select class="form-control" data-ng-show="product.hasTransport" data-ng-model="pickupPoint" data-ng-options="p.ProductId as p.Name for p in product.PickupPoints"></select>
                        <label data-ng-show="product.hasTransport">Drop Off:</label><select class="form-control" data-ng-show="product.hasTransport" data-ng-model="dropoffPoint" data-ng-options="p.ProductId as p.Name for p in product.DropoffPoints"></select>
                    </div>
                    <div data-ng-show="message == '' && !onRequest && !required && !isService">
                        <p>Are you going to add it to shopping cart?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-lg" data-ng-click="ok()" data-ng-disabled="!agreed && required">{{"OK"|translate}}</button>
                    <button class="btn btn-warning btn-lg" type="button" data-ng-click="cancel()">{{"CANCEL"|translate}}</button>
                </div>
            </script>
        </div>
    </div>
</div>