<div class="modal fade" data-ng-controller="ConsentRequiredModalController">
    <div class="modal-dialog">
        <div class="modal-content">
            <script type="text/ng-template" id="ConsentRequiredModal.html">
                <style>
                    .tab-info {
                        padding:10px;
                        max-height:200px;
                        overflow: auto;
                    }
                </style>
                <div class="modal-header">
                    <button type="button" class="close" data-ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
                    <h4>{{"ADD_TO_CART"|translate}}</h4>
                </div>
                <div class="modal-body">
                    <div data-ng-show="message != ''">
                        <div><strong>{{"IMPORTANT_INFO"|translate}}</strong></div>
                        <div class="tab-info" data-ng-bind-html="message"></div>
                        <br>
                    </div>
                    <div data-ng-show="onRequest">
                        <div><strong>{{"ON_REQUEST"|translate}}</strong></div>
                        <span>{{"ON_REQUEST_INFO"|translate}}</span>
                        <br>
                    </div>
                    <div data-ng-show="required" class="text-right">
                        <input type="checkbox" data-ng-model="agreed">&nbsp;{{"HAVE_READ"|translate}}
                        <br>
                    </div>
                    <!--<hr data-ng-show="isService">-->
                    <!--<div data-ng-show="isService" class="form-group">-->
                        <!--<label>Service Time(24 hours format, 2:00PM is 1400):</label><input class="form-control" type="text" maxlength="4" data-ng-model="serviceTime">-->
                    <!--</div>-->
                    <div data-ng-show="isService && product.HasTransport" class="form-group">
                        <label>{{"PICK_UP"|translate}}:</label><select class="form-control" data-ng-model="pickupPoint" data-ng-options="p.LocationId as p.Name for p in product.PickupPoints"></select>
                    </div>
                    <div data-ng-show="isService && product.HasTransport && product.DropoffPoints.length > 0" class="form-group">
                        <label>{{"DROP_OFF"|translate}}:</label><select class="form-control" data-ng-model="dropoffPoint" data-ng-options="p.LocationId as p.Name for p in product.DropoffPoints"></select>
                    </div>
                    <div data-ng-show="message == '' && !onRequest && !required && !product.HasTransport">
                        <p>Are you going to add it to shopping cart?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-lg" data-ng-click="ok()" data-ng-disabled="!agreed && required">{{"OK"|translate}}</button>
                    <button class="btn btn-warning btn-lg" type="button" data-ng-click="cancel()">{{"CANCEL"|translate}}</button>
                </div>
            </script>
        </div>
    </div>
</div>