<div data-ng-controller="HeaderController">
<div class="row">
    <div class="col-xs-5 col-md-5"><a href="home.html"><img data-ng-src="images/logo.png" class="cdh-logo"></a></div>
    <div class="col-xs-7 col-md-7" >
        <ul class="top-menu" data-ng-controller="AccountController" data-ng-show="showAccount">
            <li>
                <span uib-dropdown dropdown-append-to-body data-ng-controller="LanguageController" data-ng-show="showLanguage">
                    <a href uib-dropdown-toggle>
                        <i class="language-icon" style="background: url({{currentLanguage.FlagImageURI}}) no-repeat -5px -3px;"></i>{{currentLanguage.LocalName==''?currentLanguage.Name:currentLanguage.LocalName}}
                        <i class="icon-caret-down"></i>
                    </a>
                    <ul class="uib-dropdown-menu" style="min-width: 80px; margin-left:-20px">
                        <li role="menuitem" data-ng-repeat="item in availableLanguages"><a href data-ng-click="changeLanguage(item.Id, true, true)">{{item.LocalName==''?item.Name:item.LocalName}}</a></li>
                    </ul>
                </span>
            </li>
            <li data-ng-show="isAuthorized">
                <a data-ng-href="account.html#/{{languageId}}">{{"MY_ACCOUNT"|translate}}</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href data-ng-click="logout()">{{"LOGOUT"|translate}}</a>
            </li>
            <li data-ng-show="!isAuthorized">
                <a href data-ng-click="openRegisterModal()">{{"REGISTER"|translate}}</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href data-ng-click="openLoginModal()">{{"LOGIN"|translate}}</a>
            </li>
        </ul>
        <div class="top-tel text-right">
            <i class="icon-phone-hang-up"></i>&nbsp;877-59015500
        </div>
    </div>
</div>
<div class="search-position" data-ng-show="showSearchBox">
    <form class="search-wrap">
        <input class="form-control input-text input-lg" type='text' placeholder="{{'KEYWORD'|translate}}" data-ng-keypress="onKeyPressed($event)" data-ng-model="keyword"/>
        <i class="icon-search" data-ng-click="search()"></i>
    </form>
</div>
</div>