<div data-ng-controller="HeaderController" id="header">
<div class="row">
    <div class="col-xs-5 col-md-5"><a href="home.html"><img data-ng-src="images/logo.png" class="cdh-logo"></a></div>
    <div class="col-xs-7 col-md-7" >
        <ul class="top-menu" data-ng-controller="AccountController" data-ng-show="showAccount">
            <li>
                <span uib-dropdown dropdown-append-to-body data-ng-controller="LanguageController" data-ng-show="showLanguage">
                    <a href uib-dropdown-toggle>
                        <i class="language-icon" style="background: url({{currentLanguage.FlagImageURI}}) no-repeat -5px -3px;"></i>{{currentLanguage.LocalName==''?currentLanguage.Name:currentLanguage.LocalName}}
                        <i class="icon-caret-down"></i>
                    </a>
                    <ul class="uib-dropdown-menu" style="min-width: 120px; margin-left:-20px">
                        <li role="menuitem" data-ng-repeat="item in availableLanguages">
                            <div style="display: inline;">
                            <img data-ng-src="{{item.FlagImageURI}}">
                            <a href data-ng-click="changeLanguage(item.Id, true, true)">{{item.LocalName==''?item.Name:item.LocalName}}</a>
                            </div>
                        </li>
                    </ul>
                </span>
            </li>
            <li data-ng-show="isAuthorized">
                <a data-ng-href="admin.html#/{{languageId}}">{{displayName}}</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <!--<a href data-ng-click="changePassword()">{{"CHANGE_PASSWORD"|translate}}</a>&nbsp;&nbsp;&nbsp;&nbsp;-->
                <!--<span data-ng-show="showRegister"><a href data-ng-click="openRegisterModal()" >{{"REGISTER"|translate}}</a>&nbsp;&nbsp;&nbsp;&nbsp;</span>-->
                <a href data-ng-click="logout()">{{"LOGOUT"|translate}}</a>
            </li>
            <li data-ng-show="!isAuthorized">
                <a href data-ng-click="openLoginModal()">{{"LOGIN"|translate}}</a>
            </li>
        </ul>
        <div class="top-tel text-right">
            <i class="icon-phone-hang-up"></i>&nbsp;1-877-509-1550
        </div>
    </div>
</div>
<div class="search-position" data-ng-show="showSearchBox" uib-dropdown dropdown-append-to-body is-open="showSearchResult">
    <form class="search-wrap">
        <!--<input class="form-control input-text input-lg" type='text' placeholder="{{'KEYWORD'|translate}}" data-ng-model="keyword"-->
               <!--uib-popover-template="searchResultTemplateUrl" popover-title="Search Result"-->
               <!--popover-is-open="showSearchResult" popover-append-to-body="true"-->
               <!--popover-trigger="none" popover-placement="bottom" data-ng-click="onClick($event)" data-ng-blur="onBlur($event)" />-->
        <!--<input class="form-control input-text input-lg" type='text' placeholder="{{'KEYWORD'|translate}}" data-ng-keypress="onKeyPressed($event)" data-ng-model="keyword" />-->
        <input class="form-control input-text input-lg" type='text' placeholder="{{'KEYWORD'|translate}}" data-ng-model="keyword"
               data-ng-click="onClick($event)"  />
        <i class="icon-search" data-ng-click="search()"></i>
    </form>
    <ul class="uib-dropdown-menu" style="width: 480px;padding: 10px;">
        <li role="menuitem" data-ng-show="!searched">
            <div class="row">
            <div class="col-md-10 text-warning">
                {{"SEARCH_INFO"|translate}}
            </div>
            <div class="col-md-2 text-right"><a href data-ng-click="showSearchResult = false;"><i class="glyphicon glyphicon-remove text-red"></i></a> </div>
            </div>
        </li>
        <li role="menuitem" data-ng-show="destinations.length > 0">
            <div class="row">
            <div class="col-md-12"><img src="images/location.png" class="image-size-32">&nbsp;<span class="text-red" style="font-weight: bold" >{{"DESTINATIONS"|translate}}</span></div>
            </div>
        </li>
        <li class="divider" data-ng-show="destinations.length > 0"></li>
        <li role="menuitem" data-ng-repeat="item in destinations">
            <div class="row">
                <div class="col-sm-1">
                    <img class="image-size-16" data-ng-src="{{item.MainInformation.ThumbnailImageURI}}" data-ng-show="item.MainInformation.ThumbnailImageURI != ''">
                </div>
                <div class="col-sm-7">
                    <a href data-ng-href="{{item.DetailsURI}}">{{item.Name}}<i data-ng-class="item.starClass"></i></a>
                </div>
                <div class="col-sm-4">
                    <span style="font-size: 9px;">{{item.Location.Name}}</span><span data-ng-show="item.StateId != null && item.StateId != ''">,{{item.StateId}}</span>
                </div>
            </div>
        </li>
        <li class="divider" data-ng-show="destinations.length > 0"></li>
        <li role="menuitem" data-ng-show="hotels.length > 0">
            <div class="row">
                <div class="col-md-12"><img src="images/hotel.png" class="image-size-32">&nbsp;<span class="text-red" style="font-weight: bold" >{{"HOTELS"|translate}}</span></div>
            </div>
        </li>
        <li class="divider" data-ng-show="hotels.length > 0"></li>
        <li role="menuitem" data-ng-repeat="item in hotels">
            <div class="row">
                <div class="col-sm-1">
                    <img class="image-size-16" data-ng-src="{{item.MainInformation.ThumbnailImageURI}}" data-ng-show="item.MainInformation.ThumbnailImageURI != ''">
                </div>
                <div class="col-sm-7">
                    <a href data-ng-href="{{item.DetailsURI}}">{{item.Name}}<i data-ng-class="item.starClass"></i></a>
                </div>
                <div class="col-sm-4">
                    <span style="font-size: 9px;">{{item.Location.Name}}</span><span data-ng-show="item.StateId != null && item.StateId != ''">,{{item.StateId}}</span>
                </div>
            </div>
        </li>
        <li class="divider" data-ng-show="hotels.length > 0"></li>
        <li role="menuitem" data-ng-show="activities.length > 0">
            <div class="row">
            <div class="col-md-12"><img class="image-size-32" src="images/activity.png">&nbsp;<span class="text-red" style="font-weight: bold" >{{"ACTIVITIES"|translate}}</span></div>
            </div>
        </li>
        <li class="divider" data-ng-show="activities.length > 0"></li>
        <li role="menuitem" data-ng-repeat="item in activities">
            <div class="row">
                <div class="col-sm-1">
                    <img class="image-size-16" data-ng-src="{{item.MainInformation.ThumbnailImageURI}}" data-ng-show="item.MainInformation.ThumbnailImageURI != ''">
                </div>
                <div class="col-sm-7">
                    <a href data-ng-href="{{item.DetailsURI}}">{{item.Name}}<i data-ng-class="item.starClass"></i></a>
                </div>
                <div class="col-sm-4">
                    <span style="font-size: 9px;">{{item.Location.Name}}</span><span data-ng-show="item.StateId != null && item.StateId != ''">,{{item.StateId}}</span>
                </div>
            </div>
        </li>
        <li class="divider" data-ng-show="activities.length > 0"></li>


        <li role="menuitem" data-ng-show="tours.length > 0">
            <div class="row">
                <div class="col-md-12"><img class="image-size-32" src="images/tour.png">&nbsp;<span class="text-red" style="font-weight: bold" >{{"TOURS"|translate}}</span></div>
            </div>
        </li>
        <li class="divider" data-ng-show="tours.length > 0"></li>
        <li role="menuitem" data-ng-repeat="item in tours">
            <div class="row">
                <div class="col-sm-1">
                    <img class="image-size-16" data-ng-src="{{item.MainInformation.ThumbnailImageURI}}">
                </div>
                <div class="col-sm-7">
                    <a href data-ng-href="{{item.DetailsURI}}">{{item.Name}}<i data-ng-class="item.starClass"></i></a>
                </div>
                <div class="col-sm-4">
                    <span style="font-size: 9px;">{{item.Location.Name}}</span><span data-ng-show="item.StateId != null && item.StateId != ''">,{{item.StateId}}</span>
                </div>
            </div>
        </li>
        <li class="divider" data-ng-show="tours.length > 0"></li>

        <li role="menuitem" data-ng-show="transportation.length > 0">
            <div class="row">
                <div class="col-md-12"><img class="image-size-32" src="images/transportation.png">&nbsp;<span class="text-red" style="font-weight: bold" >{{"TRANSPORTATION"|translate}}</span></div>
            </div>
        </li>
        <li class="divider" data-ng-show="transportation.length > 0"></li>
        <li role="menuitem" data-ng-repeat="item in transportation">
            <div class="row">
                <div class="col-sm-1">
                    <img class="image-size-16" data-ng-src="{{item.MainInformation.ThumbnailImageURI}}" data-ng-show="item.MainInformation.ThumbnailImageURI != ''">
                </div>
                <div class="col-sm-7">
                    <a href data-ng-href="{{item.DetailsURI}}">{{item.Name}}<i data-ng-class="item.starClass"></i></a>
                </div>
                <div class="col-sm-4">
                    <span style="font-size: 9px;">{{item.Location.Name}}</span><span data-ng-show="item.StateId != null && item.StateId != ''">,{{item.StateId}}</span>
                </div>
            </div>
        </li>
        <li class="divider" data-ng-show="transportation.length > 0"></li>

        <li role="menuitem" data-ng-show="packages.length > 0">
            <div class="row">
                <div class="col-md-12"><img class="image-size-32" src="images/package.png">&nbsp;<span class="text-red" style="font-weight: bold" >{{"PACKAGES"|translate}}</span></div>
            </div>
        </li>
        <li class="divider" data-ng-show="packages.length > 0"></li>
        <li role="menuitem" data-ng-repeat="item in packages">
            <div class="row">
                <div class="col-sm-1">
                    <img class="image-size-16" data-ng-src="{{item.MainInformation.ThumbnailImageURI}}" data-ng-show="item.MainInformation.ThumbnailImageURI != ''">
                </div>
                <div class="col-sm-7">
                    <a href data-ng-href="{{item.DetailsURI}}">{{item.Name}}<i data-ng-class="item.starClass"></i></a>
                </div>
                <div class="col-sm-4">
                    <span style="font-size: 9px;">{{item.Location.Name}}</span><span data-ng-show="item.StateId != null && item.StateId != ''">,{{item.StateId}}</span>
                </div>
            </div>
        </li>
        <li class="divider" data-ng-show="packages.length > 0"></li>
        <li role="menuitem" data-ng-show="searched">
            <div class="row">
            <div class="col-md-10 text-warning">
                ...{{"KEEP_TYPE"|translate}}
            </div>
            <div class="col-md-2 text-right"><a href data-ng-click="showSearchResult = false;"><i class="glyphicon glyphicon-remove text-red"></i></a> </div>
                </div>
        </li>
    </ul>
</div>
</div>
