<div class="footer-coop">
    <h4 translate="{{'PARTNER2'}}">合作城市和景区</h4>
    <ul>
        <li><a href="http://www.nps.gov/" target="_blank"><img data-ng-src="images/logo-national-park.png" alt="National Park Service"></a></li>
        <li><a href="http://www.discoverlosangeles.com/" target="_blank"><img data-ng-src="images/logo-tourism.png" alt="Los Angeles"></a></li>
        <li><a href="http://visitanaheim.org/" target="_blank"><img data-ng-src="images/logo-anaheim.png" alt="Anaheim"></a></li>
        <li><a href="http://www.santamonica.com/" target="_blank"><img data-ng-src="images/logo-santamonica.png" alt="Santa Monica"></a></li>
        <li><a href="http://www.visitnewportbeach.com/" target="_blank"><img data-ng-src="images/logo-vewport-beach.png" alt="Newport Beach"></a></li>
        <li><a href="http://www.visitlongbeach.com/" target="_blank"><img data-ng-src="images/logo-long-beach.png" alt="Long Beach"></a></li>
        <li><a href="http://lovebeverlyhills.com/" target="_blank"><img data-ng-src="images/logo-beverly-hills.png" alt="Beverly Hills"></a></li>
    </ul>
</div>