<h4>{{'LINKS'|translate}}</h4>
<div class="quick-link">
    <a href="#">Cities, National Parks, Disney, etc. Static or fetched from Server?</a>
    <!--
    <a href="#">酒店</a>  |  <a href="#">表演</a>  |  <a href="#">门票</a>  |  <a href="#">当地玩乐</a>  |  <a href="#">当地参团</a><br/>
    <a href="#">拉斯维加斯</a>   |  <a href="#">洛杉矶</a>   |  <a href="#">旧金山</a>   |   <a href="#">盐湖城</a>  |  <a href="#">芝加哥</a>  |  <a href="#">纽约</a>  |   <a href="#">华盛顿</a><br/>
    <a href="#">加州</a>  |  <a href="#">内华达州</a>   |  <a href="#">犹他州</a>     |  <a href="#">亚利桑那州</a>   |  <a href="#">怀俄明州</a>
    -->
</div>