<div class="row">
    <section class="col-md-6 ">
        <h4>{{'NEWS_RELEASE'|translate}}</h4>
        <p>Is this content static or fetched from server? Is this content static or not? fetched from Server ? Is this content static or not? Is this content static or not? Is this content static or not? Is this content static or not?</p>
    </section>
    <section class="col-md-6">
        <h4>{{'NEWSLETTER'|translate}}</h4>
        <p>Is this content static or fetched from server? Is this content static or not? fetched from Server ? Is this content static or not? Is this content static or not? Is this content static or not? Is this content static or not?</p>
    </section>
</div>