<!--<div class="title">-->
    <!--<i class="icon-show"></i>-->
    <!--<h2>{{"SHOW"|translate}}</h2>-->
<!--</div>-->
<header class="header-container" >
    <div class="title position"><i class="icon-show"></i><h2>{{"SHOWS"|translate}}</h2></div>
    <div class="head-menu text-right">
        <a data-ng-href="services.html#/shows/{{languageId}}">{{"MORE"|translate}}</a>
        <!--<a data-ng-href="services.html#/shows/{{languageId}}" class="active">{{"ALL"|translate}}</a>-->
        <!--<a data-ng-repeat="item in destinations" data-ng-href="hotels.html#/destination/{{item.ProductId}}/{{languageId}}">{{item.Name}}</a>-->
    </div>
</header>
<div class="row">
    <div class="col-sm-6 col-md-4" data-ng-repeat="item in shows">
        <div class="thumbnail">
            <a data-ng-href="services.html#/shows/{{item.ProductId}}/{{languageId}}">
                <img data-ng-src="{{item.MainInformation.ThumbnailImageURI}}">
            </a>
            <div class="caption">
                <ul class="ticket">
                    <li class="title"><h3><a data-ng-href="services.html#/{{item.ProductId}}/{{languageId}}">{{item.Name}}</a></h3></li>
                    <!--<li class="text-right"><s>$120</s>-->
                        <!--<p class="price">$89.00</p></li>-->
                </ul>
            </div>
        </div>
    </div>
</div>