<div class="carousel slide">
    <uib-carousel interval="slide.slideInterval" no-wrap="slide.noWrapSlides" template-url="templates/ui-bootstrap/carousel.html" >
        <uib-slide ng-repeat="item in banners" active="item.active" index="item.ProductId" template-url="templates/ui-bootstrap/slide.html" >
            <img ng-src="{{item.ImageURI}}" style="margin:auto;">
            <div class="carousel-caption">
                <h1>{{item.Title}}</h1>
                <p>{{item.SubTitle}}</p>
            </div>
        </uib-slide>
    </uib-carousel>
</div>
<!-- begin content slider -->

<!--"-->
<!---->
