<div class="modal fade" data-ng-controller="HotelBookingModalController">
    <div class="modal-dialog">
        <div class="modal-content">
            <script type="text/ng-template" id="HotelBookingModal.html">
                <div class="modal-header">
                    <button type="button" class="close" data-ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
                    <h4>Hotel Booking Information</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-lg" data-ng-click="ok()">{{"OK"|translate}}</button>
                    <button class="btn btn-warning btn-lg" type="button" data-ng-click="cancel()">{{"CANCEL"|translate}}</button>
                </div>
            </script>
        </div>
    </div>
</div>