<div class="container-bg container-padding">
    <div class="container">
        <div class="filter-box">
            <dl class="filter-item">
                <dt><i class="icon-star-full"></i>&nbsp;Star</dt>
                <dd>
                    <a href data-ng-class="{'active':star==null}" data-ng-click="filterByStar(null)">All</a>
                    <a href data-ng-repeat="item in filterStars" data-ng-class="{'active':star==item}" data-ng-click="filterByStar(item)">{{item}} Star</a>
                </dd>
            </dl>
            <dl>
                <dt><i class="icon-coin-dollar"></i>&nbsp;Price</dt>
                <dd>
                    <a href data-ng-class="{'active':price==null}" data-ng-click="filterByPrice(null)">All</a>
                    <a href data-ng-repeat="item in filterPrices" data-ng-class="{'active':price==item}" data-ng-click="filterByPrice(item)">{{item}}</a>
                </dd>
            </dl>
        </div>
        <div class="main-product">
            <div class="sortbar">
                <ul>
                    <li><a href data-ng-click="sort('price')">Price</a><i class="icon-caret-down"></i></li>
                    <li><a href data-ng-click="sort('star')">Star</a><i class="icon-caret-down"></i></li>
                    <!--<li><a href="#">Score</a><i class="icon-caret-down"></i></li>-->
                </ul>
                <span><b>{{hotels.length}}</b>Hotels</span>
            </div>
            <div class="list-product">
                <div class="product-img"><a href="hotel-detail.html"><img src="images/temp/list-hotel1.jpg" alt="..."></a></div>
                <div class="pro-detail">
                    <h2><a href="hotel-detail.html" title="...">Grant Plaza Hotel</a><i class="icon-star-lg-5"></i></h2>
                    <p class="address">Address：700 West Convention Way Anaheim, CA 90802 United States</p>
                    <p class="desc">Brief Description: 旧金山格兰特广场酒店位于缆车站前面，设有日间Spa和餐厅。距离AT&T Park球场有1.5英里（约2.4公里），距离剧院区距离AT&ark球场有1.5英里（约2.4公里），距离剧院......</p>
                    <div class="comment"><span>9.5</span>200 comments</div>
                </div>
                <div class="pro-separator">
                    <div class="pro-elem">
                        <ul>
                            <li><i class="icon-coffee"></i>Cafe</li>
                            <li><i class="icon-automobile"></i>Pick Up</li>
                            <li><i class="icon-connection"></i>WIFI</li>
                            <li><i class="icon-local_parking"></i>Parking</li>
                            <li><i class="icon-card_travel "></i>Luggage</li>
                        </ul>
                    </div>
                    <div class="pro-price">
                        <span>at least<apan class="price">$842</apan></span><a href="hotel-detail.html" class="btn  btn-red">View Detail</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>