<div class="title">
    <h2>{{"FEATURED"|translate}}</h2>
</div>
<div class="row">
    <div class="col-sm-6 col-md-4" data-ng-repeat="item in hotels">
        <div class="thumbnail">
            <a data-ng-href="hotels.html#/{{item.ProductId}}/{{languageId}}">
                <!--<span class="sales-layer">Pref</span>-->
                <img data-ng-src="{{item.MainInformation.ThumbnailImageURI}}">
            </a>

            <div class="caption">
                <h3><a data-ng-href="hotels.html#/{{item.ProductId}}/{{languageId}}">{{item.Name}}</a><i
                        data-ng-class="item.StarClass"></i></h3>
                <!--<a data-ng-href="hotels.html#/{{item.Id}}/comment/{{languageId}}"><span>8.3</span>451 comments</a>-->
                <ul class="hotel">
                    <li>{{item.Location.Name}}</li>
                    <!--<li class="text-right price"><s class="aa">$200</s><span>$89.00</span></li>-->
                </ul>
            </div>
        </div>
    </div>
</div>
