<div class="modal fade" data-ng-controller="LoginModalController">
    <div class="modal-dialog">
        <div class="modal-content">
            <script type="text/ng-template" id="loginModal.html">
                <div class="modal-header">
                    <button type="button" class="close" data-ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
                    <h4>{{"LOGIN"|translate}}</h4>
                </div>
                <div class="modal-body">
                    <form name="loginForm" class="login-wrap">
                        <div class="form-group input-icon">
                            <i class="icon-users"></i>
                            <input name="userName" type="text" data-ng-model="userName" class="input-login input-log form-control" placeholder="{{'USER_NAME'|translate}}">
                        </div>
                        <div class="form-group input-icon">
                            <i class="icon-locked"></i>
                            <input name="password" type="password" data-ng-model="password" class="input-login input-log form-control" placeholder="{{'PASSWORD'|translate}}">
                        </div>
                        <div class="form-group row">
                            <label class="col-xs-8 col-sm-8 validate-error">{{message}}</label>
                            <label class="col-xs-4 col-sm-4 text-right"><a href data-ng-click="forgotPassword()">{{"FORGOT_PASSWORD"|translate}}</a></label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-lg" data-ng-click="ok()">{{"OK"|translate}}</button>
                    <button class="btn btn-warning btn-lg" type="button" data-ng-click="cancel()">{{"CANCEL"|translate}}</button>
                </div>
            </script>
        </div>
    </div>
</div>