<div class="modal fade" data-ng-controller="ShoppingCartModalController">
    <div class="modal-dialog">
        <div class="modal-content">
            <script type="text/ng-template" id="ShoppingCartModal.html">
                <style>
                    .uibtab-info {
                        /*padding: 10px;*/
                        max-height: 400px;
                        overflow: auto;
                    }

                    .table-scroll {
                        max-height: 280px;
                        overflow: auto;
                    }
                </style>
                <div class="modal-header">
                    <button type="button" class="close" data-ng-click="cancel()"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4>{{"BOOKING_INFO"|translate}}</h4>
                </div>
                <div class="modal-body">
                    <uib-tabset justified="true" active="">
                        <uib-tab index="0" heading="{{'PRODUCTS'|translate}}" active="tabs[0].active" disable="tabs[0].disabled" select="selectTab(0)">
                            <div class="uibtab-info">
                                <div data-ng-show="shoppingItems.hotels.length > 0">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr style="font-weight: bold;">
                                            <td>{{"NAME"|translate}}</td>
                                            <td>{{"ROOM_TYPE"|translate}}</td>
                                            <td>{{"PRICE"|translate}}</td>
                                            <td>{{"CHECK_IN"|translate}}</td>
                                            <td>{{"NIGHTS"|translate}}</td>
                                            <td>{{"GUESTS"|translate}}</td>
                                            <td></td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-ng-repeat="hotel in shoppingItems.hotels"
                                            style="vertical-align: middle;">
                                            <td>{{hotel.product.Name}}</td>
                                            <td>{{hotel.product.AvailabilityCategories[hotel.index].Name}}</td>
                                            <td style="color:red">
                                                ${{hotel.product.AvailabilityCategories[hotel.index].Price}}
                                            </td>
                                            <td>{{hotel.product.StartDate | limitTo:10 }}</td>
                                            <td>
                                                {{hotel.product.AvailabilityCategories[hotel.index].Rooms[0].Nights.length}}
                                            </td>
                                            <td>
                                                <p data-ng-repeat="room in hotel.product.AvailabilityCategories[hotel.index].Rooms">
                                                    {{'room #' + (room.RoomId + 1) + ' - ' + room.guestsInfo}}
                                                </p>
                                            </td>
                                            <td><a href data-ng-click="removeHotel($index)"><i
                                                    class="glyphicon glyphicon-remove main-red"></i></a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <br>
                                </div>
                                <div data-ng-show="shoppingItems.services.length > 0">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr style="font-weight: bold;">
                                            <td>{{"NAME"|translate}}</td>
                                            <td>{{"TYPE"|translate}}</td>
                                            <td style="width:230px;">{{"CATEGORY"|translate}}</td>
                                            <td style="width:100px;">{{"START_DATE"|translate}}</td>
                                            <td>{{"PRICE"|translate}}</td>
                                            <td>{{"GUESTS"|translate}}</td>
                                            <td></td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-ng-repeat="service in shoppingItems.services"
                                            style="vertical-align: middle;">
                                            <td>{{service.product.Name}}</td>
                                            <td>{{service.product.ServiceType.Name}}</td>
                                            <td>{{service.product.AvailabilityCategories[service.index].Name}}</td>
                                            <td>{{service.product.StartDate | limitTo:10 }}</td>
                                            <td style="color:red">
                                                ${{service.product.AvailabilityCategories[service.index].Price}}
                                            </td>
                                            <td>{{service.product.AvailabilityCategories[service.index].guestsInfo}}
                                            </td>
                                            <td><a href data-ng-click="removeService($index)"><i
                                                    class="glyphicon glyphicon-remove main-red"></i></a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div data-ng-show="shoppingItems.packages.length > 0">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr style="font-weight: bold;">
                                            <td>{{"NAME"|translate}}</td>
                                            <td>{{"TYPE"|translate}}</td>
                                            <td style="width:100px;">{{"START_DATE"|translate}}</td>
                                            <td style="width:100px;">{{"END_DATE"|translate}}</td>
                                            <td>{{"PRICE"|translate}}</td>
                                            <td>{{"GUESTS"|translate}}</td>
                                            <td></td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-ng-repeat="package in shoppingItems.packages"
                                            style="vertical-align: middle;">
                                            <td>{{package.product.Name}}</td>
                                            <td>{{package.product.PackageType.Name}}</td>
                                            <td>{{package.product.AvailabilityCategories[package.index].StartDate | limitTo:10 }}</td>
                                            <td>{{package.product.AvailabilityCategories[package.index].EndDate | limitTo:10 }}</td>
                                            <td style="color:red">
                                                ${{package.product.AvailabilityCategories[package.index].Price}}
                                            </td>
                                            <td>{{package.product.AvailabilityCategories[package.index].guestsInfo}}
                                            </td>
                                            <td><a href data-ng-click="removePackage($index)"><i
                                                    class="glyphicon glyphicon-remove main-red"></i></a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="text-center" style="margin-top: 10px;" data-ng-show="shoppingItems.hotels.length == 0 && shoppingItems.services.length == 0 && shoppingItems.packages.length == 0">
                                <h3 class="text-info">{{"EMPTY_CART"|translate}}</h3>
                            </div>
                        </uib-tab>
                        <!--disable="tabs[1].disabled"-->
                        <uib-tab index="1" heading="{{'GUESTS'|translate}}" active="tabs[1].active" select="selectTab(1)">
                            <div style="padding-top: 5px;">
                                <div class="form-inline form-group">
                                    <label>{{"REFERENCE"|translate}}: &nbsp;</label><input type="text"
                                                                                  class="form-control input-sm"
                                                                                  data-ng-model="bookingInfo.Reference">
                                </div>
                            </div>
                            <div class="table-scroll">
                                <table class="table table-striped">
                                    <thead>
                                    <tr style="font-weight: bold;">
                                        <td></td>
                                        <td>{{"ID"|translate}}</td>
                                        <td>{{"LAST_NAME"|translate}}</td>
                                        <td>{{"FIRST_NAME"|translate}}</td>
                                        <td>{{"AGE"|translate}}</td>
                                        <td>{{"GUEST_TITLE"|translate}}</td>
                                        <td>{{"PHONE"|translate}}</td>
                                        <td></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="guest in bookingInfo.Guests">
                                        <td><span data-ng-show="guest.PrimaryGuest"
                                                  style="color:red;font-weight: bold;">*</span></td>
                                        <td>{{guest.GuestId}}</td>
                                        <td><input type="text" class="form-control input-sm"
                                                   data-ng-model="guest.LastName"></td>
                                        <td><input type="text" class="form-control input-sm"
                                                   data-ng-model="guest.FirstName"></td>
                                        <td><span data-ng-show="!guest.Adult"><select class="form-control input-sm"
                                                                                      data-ng-model="guest.Age">
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                            <option>11</option>
                                            <option>12</option>
                                            <option>13</option>
                                            <option>14</option>
                                            <option>15</option>
                                            <option>16</option>
                                            <option>17</option>
                                        </select></span></td>
                                        <td><select class="form-control input-sm" data-ng-model="guest.Title"
                                                    data-ng-show="guest.Adult">
                                            <option>Mr</option>
                                            <option>Mrs</option>
                                            <option>Ms</option>
                                            <option>Dr</option>
                                        </select><span data-ng-show="!guest.Adult">{{"CHILD"|translate}}</span></td>
                                        <td><input type="text" class="form-control input-sm"
                                                   data-ng-model="guest.Phone" data-ng-show="guest.Adult"></td>
                                        <td><a href data-ng-click="removeGuest($index)"><i
                                                class="glyphicon glyphicon-remove main-red"></i></a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row" style="margin-top: 5px;">
                                <div class="col-md-8 text-info">{{"FILL_ASTERISK"|translate}}
                                    <span style="color:red;"> *</span>.
                                </div>
                                <div class="col-md-4 text-right"><input type="button" class="button btn-red btn-sm"
                                                                        value="{{'ADD_ADULT'|translate}}"
                                                                        data-ng-click="addGuest(true)">&nbsp;&nbsp;<input
                                        type="button" class="button btn-red btn-sm" value="{{'ADD_MINOR'|translate}}"
                                        data-ng-click="addGuest(false)"></div>
                            </div>
                            <p data-ng-show="message != ''" style="color:red;font-weight:bold;">{{message}}</p>
                        </uib-tab>
                        <!--disable="tabs[2].disabled"-->
                        <uib-tab index="2" heading="{{'ASSIGNMENTS'|translate}}" active="tabs[2].active" disable="tabs[2].disabled" select="selectTab(2)">
                            <div style="padding-top: 5px;" class="text-info">
                                {{"ASSIGNMENTS_INFO"|translate}}
                            </div>
                            <div class="form-inline">
                                <label>{{"PRIMARY_GUEST"|translate}}: &nbsp;</label><select class="form-control input-sm" data-ng-options="(guest.LastName + ' ' + guest.FirstName) as guest.ShowName for guest in bookingInfo.Guests" data-ng-model="bookingInfo.PrimaryGuestName"></select>
                            </div>
                            <div class="table-scroll">
                                <div data-ng-repeat="hotel in bookingInfo.Hotels" data-ng-show="shoppingItems.hotels.length > 0">
                                    <p style="color: #e32b19;font-weight: bold;">{{"HOTEL"|translate}} - {{hotel.HotelName}}</p>
                                    <table class="table table-striped">
                                        <thead>
                                        <tr style="font-weight: bold;">
                                            <td>{{"ROOM_TYPE"|translate}}</td>
                                            <td>{{"ROOM"|translate}} #</td>
                                            <td>{{"PRICE"|translate}}</td>
                                            <td>{{"PRIMARY_GUEST"|translate}}</td>
                                            <td>{{"GUESTS"|translate}}</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-ng-repeat="room in hotel.Rooms">
                                            <td>{{hotel.CategoryName}}</td>
                                            <td>{{$index+1}}</td>
                                            <td style="color:red">${{room.Price}}</td>
                                            <td><select class="form-control" data-ng-model="room.Guests.PrimaryGuestId"
                                                        data-ng-options="guest.GuestId as guest.ShowName for guest in bookingInfo.Guests"></select>
                                            </td>
                                            <td>
                                                <div data-ng-repeat="guest in room.Guests.GuestIds track by $index">
                                                    <select class="form-control"
                                                            data-ng-model="room.Guests.GuestIds[$index]"
                                                            data-ng-options="guest.GuestId as guest.ShowName for guest in bookingInfo.Guests"></select>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div data-ng-show="shoppingItems.services.length > 0">
                                    <p style="color: #e32b19;font-weight: bold;">{{"SERVICE"|translate}}</p>
                                    <table class="table table-striped">
                                        <thead>
                                        <tr style="font-weight: bold;">
                                            <td>{{"NAME"|translate}}</td>
                                            <td>{{"CATEGORY"|translate}}</td>
                                            <td>{{"PRICE"|translate}}</td>
                                            <td>{{"PRIMARY_GUEST"|translate}}</td>
                                            <td>{{"GUESTS"|translate}}</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-ng-repeat="service in bookingInfo.Services">
                                            <td>{{service.ServiceName}}</td>
                                            <td>{{service.CategoryName}}</td>
                                            <td style="color:red">${{service.Price}}</td>
                                            <td><select class="form-control"
                                                        data-ng-model="service.Guests.PrimaryGuestId"
                                                        data-ng-options="guest.GuestId as guest.ShowName for guest in bookingInfo.Guests"></select>
                                            </td>
                                            <td>
                                                <div data-ng-repeat="guest in service.Guests.GuestIds track by $index">
                                                    <select class="form-control"
                                                            data-ng-model="service.Guests.GuestIds[$index]"
                                                            data-ng-options="guest.GuestId as guest.ShowName for guest in bookingInfo.Guests"></select>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div data-ng-repeat="package in bookingInfo.Packages" data-ng-show="shoppingItems.packages.length > 0">
                                    <p style="color: #e32b19;font-weight: bold;">{{"PACKAGE"|translate}} - {{package.Name}}</p>
                                    <table class="table table-striped">
                                        <thead>
                                        <tr style="font-weight: bold;">
                                            <td>{{"ROOM"|translate}} #</td>
                                            <td>{{"NIGHTS"|translate}}</td>
                                            <td>{{"PRICE"|translate}}</td>
                                            <td>{{"PRIMARY_GUEST"|translate}}</td>
                                            <td>{{"GUESTS"|translate}}</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-ng-repeat="room in package.Rooms">
                                            <td>{{$index+1}}</td>
                                            <td>{{package.Nights}}</td>
                                            <td style="color:red">${{room.Price}}</td>
                                            <td><select class="form-control" data-ng-model="room.Guests.PrimaryGuestId"
                                                        data-ng-options="guest.GuestId as guest.ShowName for guest in bookingInfo.Guests"></select>
                                            </td>
                                            <td>
                                                <div data-ng-repeat="guest in room.Guests.GuestIds track by $index">
                                                    <select class="form-control"
                                                            data-ng-model="room.Guests.GuestIds[$index]"
                                                            data-ng-options="guest.GuestId as guest.ShowName for guest in bookingInfo.Guests"></select>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <p data-ng-show="message != ''" style="color:red;font-weight:bold;">{{message}}</p>
                        </uib-tab>
                        <uib-tab index="3" heading="{{'REVIEW'|translate}}" active="tabs[3].active" disable="tabs[3].disabled" select="selectTab(3)">
                            <div class="uibtab-info" style="margin-top: 5px;">
                                <strong>{{"GUESTS"|translate}} - {{"SUBTOTAL"|translate}}: {{bookingInfo.Guests.length}} {{"ADULT"|translate}}: {{bookingInfo.Adults}}
                                    {{"MINOR"|translate}}: {{bookingInfo.Minors}}</strong>

                                <p><span data-ng-repeat="guest in bookingInfo.Guests">{{guest.ShowName}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                </p>
                                <div data-ng-show="bookingInfo.Hotels.length > 0">
                                    <hr>
                                    <strong>{{"HOTELS"|translate}} - {{"SUBTOTAL"|translate}}: ${{bookingInfo.HotelPrice}}</strong>
                                    <p data-ng-repeat="hotel in bookingInfo.Hotels">{{"NAME"|translate}}: {{hotel.HotelName}}&nbsp;&nbsp;&nbsp;&nbsp;{{"CATEGORY"|translate}}:
                                        {{hotel.CategoryName}}&nbsp;&nbsp;&nbsp;&nbsp;{{"ROOMS"|translate}}: {{hotel.Rooms.length}}&nbsp;&nbsp;&nbsp;&nbsp;{{"CHECK_IN"|translate}}: {{hotel.StartDate | limitTo:10}}&nbsp;&nbsp;&nbsp;&nbsp;{{"NIGHTS"|translate}}:
                                        {{hotel.Nights}}&nbsp;&nbsp;&nbsp;&nbsp;{{"PRICE"|translate}}: ${{hotel.Price}}</p>
                                </div>
                                <div data-ng-show="bookingInfo.Services.length > 0">
                                    <hr>
                                    <strong>{{"SERVICES"|translate}} - {{"SUBTOTAL"|translate}}: ${{bookingInfo.ServicePrice}}</strong>
                                    <p data-ng-repeat="service in bookingInfo.Services">{{"NAME"|translate}}: {{service.ServiceName}}&nbsp;&nbsp;&nbsp;&nbsp;{{"CATEGORY"|translate}}:
                                        {{service.CategoryName}}&nbsp;&nbsp;&nbsp;&nbsp;{{"START_DATE"|translate}}: {{service.StartDate |
                                        limitTo:10}}&nbsp;&nbsp;&nbsp;&nbsp;{{"TIME"|translate}}: {{service.ServiceTime}}&nbsp;&nbsp;&nbsp;&nbsp;{{"PRICE"|translate}}:
                                        ${{service.Price}}</p>
                                </div>
                                <div data-ng-show="bookingInfo.Packages.length > 0">
                                    <hr>
                                    <strong>{{"PACKAGES"|translate}} - {{"SUBTOTAL"|translate}}: ${{bookingInfo.PackagePrice}}</strong>
                                    <p data-ng-repeat="package in bookingInfo.Packages">{{"NAME"|translate}}: {{package.Name}}&nbsp;&nbsp;&nbsp;&nbsp;{{"CATEGORY"|translate}}:
                                        {{package.CategoryName}}&nbsp;&nbsp;&nbsp;&nbsp;{{"ROOMS"|translate}}: {{package.Rooms.length}}&nbsp;&nbsp;&nbsp;&nbsp;{{"START_DATE"|translate}}: {{package.StartDate | limitTo:10}}&nbsp;&nbsp;&nbsp;&nbsp;{{"NIGHTS"|translate}}:
                                        {{package.Nights}}&nbsp;&nbsp;&nbsp;&nbsp;{{"PRICE"|translate}}: ${{package.Price}}</p>
                                </div>
                                <hr>
                            </div>
                            <div class="text-right" style="color:red;"><strong>{{"TOTAL"|translate}}: ${{(bookingInfo.ServicePrice
                                + bookingInfo.HotelPrice + bookingInfo.PackagePrice) | number:2}}</strong></div>
                        </uib-tab>
                        <uib-tab index="4" heading="{{'PAY'|translate}}" active="tabs[4].active" disable="tabs[4].disabled" select="selectTab(4)">
                            <div class="uibtab-info" style="margin-top: 5px;">
                                <div class="form-group form-inline">
                                    <label>{{"SAVE_AS"|translate}}: </label>

                                    <label class="radio-inline"><input type="radio"
                                                                       value="Reservation" data-ng-model="bookingInfo.SaveType">{{"RESERVATION"|translate}}</label>
                                    <label class="radio-inline"><input type="radio"
                                                                       value="Quote" data-ng-model="bookingInfo.SaveType">{{"QUOTE"|translate}}</label>

                                </div>
                                <div class="form-group form-inline" data-ng-show="bookingInfo.SaveType == 'Reservation'">
                                    <label>{{"PAYMENT_PROFILE"|translate}}: </label>
                                    <select class="form-control" style="width:250px;" data-ng-options="Profile.ProfileID as Profile.Description for Profile in financeInfo.Profiles" data-ng-model="bookingInfo.PaymentInfo.ProfileId"></select>
                                </div>
                                <div class="form-group form-inline" data-ng-show="bookingInfo.SaveType == 'Reservation'">
                                    <label>{{"METHOD"|translate}}: </label>

                                        <label class="radio-inline"><input type="radio" name="paymentMethod"
                                                                           value="CreditCard" data-ng-model="bookingInfo.PaymentInfo.PaymentMethod" checked>{{"CREDIT_CARD"|translate}}</label>
                                        <label class="radio-inline"><input type="radio" name="paymentMethod"
                                                                           value="ECheck" data-ng-model="bookingInfo.PaymentInfo.PaymentMethod">{{"ECHECK"|translate}}</label>
                                    <label class="radio-inline"><input type="radio" name="paymentMethod"
                                                                       value="" data-ng-model="bookingInfo.PaymentInfo.PaymentMethod">{{"CREDIT_BALANCE"|translate}}</label>

                                </div>
                            </div>
                            <form name="PayForm">
                            <div class="form-inline" data-ng-show="bookingInfo.SaveType == 'Reservation' && bookingInfo.PaymentInfo.PaymentMethod == 'CreditCard'">

                                <div class="form-group" data-ng-show="bookingInfo.PaymentInfo.ProfileId == null">
                                    <label class="control-label">{{"CARD_NO"|translate}}: </label>
                                    <input class="form-control"  type="text" style="width:200px" data-ng-model="bookingInfo.PaymentInfo.CreditCardInfo.CardNumber">
                                </div>
                                <div class="form-group" data-ng-class="{'has-error':creditCardError}">
                                    <label class="control-label" for="expirationYear">{{"EXP_YEAR"|translate}}: </label>
                                    <select id="expirationYear" class="form-control"  data-ng-options="item for item in years" style="width: 80px;" data-ng-model="bookingInfo.PaymentInfo.CreditCardInfo.ExpirationYear"></select>
                                </div>
                                <div class="form-group" data-ng-class="{'has-error':creditCardError}">
                                    <label class="control-label" for="expirationMonth">{{"EXP_MONTH"|translate}}: </label>
                                    <select id="expirationMonth" class="form-control"  data-ng-options="item for item in months" style="width: 80px;" data-ng-model="bookingInfo.PaymentInfo.CreditCardInfo.ExpirationMonth"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">{{"CODE"|translate}}: </label>
                                    <input class="form-control" type="text" style="width: 50px;" data-ng-model="bookingInfo.PaymentInfo.CreditCardInfo.CardCode">
                                </div>
                            </div>
                            <div class="from-group form-inline" data-ng-show="bookingInfo.SaveType == 'Reservation' && bookingInfo.PaymentInfo.PaymentMethod == 'ECheck'">
                                <div class="form-group">
                                    <label>{{"BANK_ACCOUNT"|translate}}: </label>
                                    <input class="form-control" type="text" style="width:200px" data-ng-model="bookingInfo.PaymentInfo.BankAccountInfo.BankAccountNumber">
                                    <label>{{"NAME"|translate}}: </label>
                                    <input class="form-control" type="text" style="width: 150px;" data-ng-model="bookingInfo.PaymentInfo.BankAccountInfo.NameOnAccount">
                                    <label>{{"ROUTING_NUMBER"|translate}}: </label>
                                    <input class="form-control" type="text" style="width: 150px;" data-ng-model="bookingInfo.PaymentInfo.BankAccountInfo.RoutingNumber">
                                </div>
                            </div>
                            <div class="form-group form-inline" data-ng-show="bookingInfo.SaveType == 'Reservation' && (bookingInfo.PaymentInfo.PaymentMethod == 'ECheck' || bookingInfo.PaymentInfo.PaymentMethod == 'CreditCard')">
                                <input type="checkbox" data-ng-model="bookingInfo.PaymentInfo.SaveInProfile">
                                <label>{{"SAVE_PROFILE"|translate}}</label>
                            </div>
                            </form>
                            <p data-ng-show="message != ''" style="color:red;font-weight:bold;">{{message}}</p>
                        </uib-tab>
                    </uib-tabset>
                </div>
                <div class="modal-footer text-right">
                    <button type="button" class="btn btn-primary btn-sm" data-ng-click="previous()"
                            data-ng-disabled="!showPreviousBtn" data-ng-show="!tabs[0].active">{{"PREVIOUS"|translate}}
                    </button>
                    <button type="button" class="btn btn-primary btn-sm" data-ng-click="next()"
                            data-ng-disabled="!showNextBtn" data-ng-show="!tabs[4].active">{{"NEXT"|translate}}
                    </button>
                    <button type="button" class="btn btn-warning btn-sm" data-ng-click="bookAndPay(false)"
                            data-ng-show="tabs[4].active && bookingInfo.SaveType == 'Quote'">{{"SAVE"|translate}}
                    </button>
                    <button type="button" class="btn btn-warning btn-sm" data-ng-click="bookAndPay(true)"
                            data-ng-show="tabs[4].active && bookingInfo.SaveType == 'Reservation'" data-ng-disabled="bookDisabled">{{"BOOK_PAY"|translate}}
                    </button>
                </div>
            </script>
        </div>
    </div>
</div>