<div class="shopping-float-bar" data-ng-controller="ShoppingItemsController" data-ng-show="show">
    <div class="list-wrapper">
        <div >
            <table class="table table-list" >
                <thead>
                    <tr>
                        <td>{{"TYPE"|translate}}</td>
                        <td>{{"PRODUCT"|translate}}</td>
                        <td>{{"CATEGORY"|translate}}</td>
                        <td>{{"START_DATE"|translate}}</td>
                        <td>{{"NIGHTS"|translate}}</td>
                        <td>{{"END_DATE"|translate}}</td>
                        <td>{{"GUESTS"|translate}}</td>
                        <td>{{"PRICE"|translate}}</td>
                        <td>{{"STATUS"|translate}}</td>
                        <td>{{"ACTION"|translate}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="item in shoppingItems.hotels">
                        <td>{{"HOTEL"|translate}}</td>
                        <td>{{item.product.Name}}</td>
                        <td>{{item.product.AvailabilityCategories[item.index].Name}}</td>
                        <td>{{item.product.StartDate|limitTo:10}}</td>
                        <td>{{item.product.AvailabilityCategories[item.index].Rooms[0].Nights.length}}</td>
                        <td>{{item.product.CheckOutDate|limitTo:10}}</td>
                        <td>{{item.totalGuests}}</td>
                        <td>${{item.product.AvailabilityCategories[item.index].Price| number:2}}</td>
                        <td>
                            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" style="color:#99cc33;" data-ng-show="item.product.AvailabilityCategories[item.index].AvailabilityLevel == 'Available'"></span>
                            <span class="glyphicon glyphicon-question-sign" aria-hidden="true" style="color:#ffcc00;" data-ng-show="item.product.AvailabilityCategories[item.index].AvailabilityLevel == 'Requestable'"></span>
                        </td>
                        <td>
                            <a href data-ng-click="removeItem('HTL', $index)">
                                <i class="glyphicon glyphicon-remove main-red"></i>
                            </a>
                        </td>
                    </tr>
                    <tr data-ng-repeat="item in shoppingItems.services">
                        <td>{{"SERVICE"|translate}}</td>
                        <td>{{item.product.Name}}</td>
                        <td>{{item.product.AvailabilityCategories[item.index].Name}}</td>
                        <td>{{item.product.StartDate|limitTo:10}}</td>
                        <td></td>
                        <td>{{item.product.EndDate|limitTo:10}}</td>
                        <td>{{item.product.AvailabilityCategories[item.index].Guests.length}}</td>
                        <td>${{item.product.AvailabilityCategories[item.index].Price| number:2}}</td>
                        <td>
                            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" style="color:#99cc33;" data-ng-show="item.product.AvailabilityCategories[item.index].AvailabilityLevel == 'Available'"></span>
                            <span class="glyphicon glyphicon-question-sign" aria-hidden="true" style="color:#ffcc00;" data-ng-show="item.product.AvailabilityCategories[item.index].AvailabilityLevel == 'Requestable'"></span>
                        </td>
                        <td>
                            <a href data-ng-click="removeItem('OPT', $index)">
                                <i class="glyphicon glyphicon-remove main-red"></i>
                            </a>
                        </td>
                    </tr>
                    <tr data-ng-repeat="item in shoppingItems.packages">
                        <td>{{"PACKAGE"|translate}}</td>
                        <td>{{item.product.Name}}</td>
                        <td>{{item.product.AvailabilityCategories[item.index].Name}}</td>
                        <td>{{item.product.AvailabilityCategories[item.index].StartDate|limitTo:10}}</td>
                        <td>{{item.product.AvailabilityCategories[item.index].Nights.length}}</td>
                        <td>{{item.product.AvailabilityCategories[item.index].EndDate|limitTo:10}}</td>
                        <td>{{item.product.AvailabilityCategories[item.index].Guests.length}}</td>
                        <td>${{item.product.AvailabilityCategories[item.index].Price| number:2}}</td>
                        <td>
                            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" style="color:#99cc33;" data-ng-show="item.product.AvailabilityCategories[item.index].AvailabilityLevel == 'Available'"></span>
                            <span class="glyphicon glyphicon-question-sign" aria-hidden="true" style="color:#ffcc00;" data-ng-show="item.product.AvailabilityCategories[item.index].AvailabilityLevel == 'Requestable'"></span>
                        </td>
                        <td>
                            <a href data-ng-click="removeItem('PKG', $index)">
                                <i class="glyphicon glyphicon-remove main-red"></i>
                            </a>
                        </td>
                    </tr>
                    <tr data-ng-show="totalPrice > 0">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right">{{"TOTAL"|translate}}:</td>
                        <td class="text-red">${{totalPrice| number:2}}</td>
                        <td>
                            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" style="color:#99cc33;" data-ng-show="availability == 1"></span>
                            <span class="glyphicon glyphicon-question-sign" aria-hidden="true" style="color:#ffcc00;" data-ng-show="availability == 2"></span>
                            <img src="images/RequestAndConfirmed.png" style="width: 12px;height: 12px;" data-ng-show="availability == 3">
                        </td>
                        <td>
                            <a href data-ng-click="checkOut()" style="font-weight: bold;font-size: 16px;">{{"CHECKOUT"|translate}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center" style="margin-top: 10px;" data-ng-show="totalPrice == 0">
                <h4 class="text-info">{{"EMPTY_CART"|translate}}</h4>
            </div>
        </div>
        <span class="icon-close2" data-ng-click="close()"></span>
    </div>
</div>