<div class="modal fade" data-ng-controller="TripDetailModalController">
    <div class="modal-dialog">
        <div class="modal-content">
            <script type="text/ng-template" id="TripDetailModal.html">
                <style>
                    .uibtab-info {
                        /*padding: 10px;*/
                        max-height: 400px;
                        overflow: auto;
                    }
                </style>
                <div class="modal-header">
                    <button type="button" class="close" data-ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
                    <h4>Trip Details</h4>
                </div>
                <div class="modal-body">
                    <uib-tabset justified="true">
                        <uib-tab index="0" heading="Main Information">
                            <div class="uibtab-info">
                            </div>
                        </uib-tab>
                        <uib-tab index="1" heading="Passengers">
                            <div class="uibtab-info">
                            </div>
                        </uib-tab>
                        <uib-tab index="2" heading="Hotels">
                            <div class="uibtab-info">
                            </div>
                        </uib-tab>
                        <uib-tab index="3" heading="Services">
                            <div class="uibtab-info">
                            </div>
                        </uib-tab>
                        <uib-tab index="4" heading="Documents">
                            <div class="uibtab-info">
                            </div>
                        </uib-tab>
                </div>
                <div data-ng-show="message != ''"><p>{{message}}</p></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-warning" data-ng-click="saveTrip()">{{"SAVE_TRIP"|translate}}</button>
                    <button class="btn btn-red btn-sm" type="button" data-ng-click="cancelTrip()" data-ng-show="trip.Status != 'Cancelled'">{{"CANCEL_TRIP"|translate}}</button>
                </div>
            </script>
        </div>
    </div>
</div>