footer{
  h4{font-size: 16px; font-weight: 600; margin: 25px 0;}
  border-top: 10px solid $light-border;
  .footer-coop{
    padding: 0 0 30px 0;
    overflow: hidden;
    ul{
      @extend %li-clear-default;
      li{
        float: left;
        margin: 5px 30px 5px 0;
      }
    }
  }
  section p{color: $font-darkgray; line-height: 24px;}
  .quick-link{
    color:$light-border;
    line-height: 24px;
    a{color:$font-darkgray;}
    a:hover,a:active, a:focus{color:$font-normal;}
  }
  .copyright{
    color: $font-lightgray;
    background-color: $copyright-bg;
    text-align: center;
    padding: 20px 0;
    a{ color: #ccc;
      font-weight: 600;
      margin-right: 30px;
    }
    a:hover,a:active, a:focus{color:$font-lightgray;}
    p{line-height: 24px; margin-top: 20px}
  }
}
