$page-bg: #f6f6f6;
$main-red: #ed685b;
$copyright-bg: #323232;
$main-border: #e6e6e6;
$form-border: #d9d9d9;
$white: #fff;
$special-bg: #fafafa;
$font-black: #000; //important fonts,title font;
$font-normal: #333; //normal font;
$font-lightgray: #999;
$font-darkgray: #666;

$light-border: #eee;
$blue: #3e92d4; //for link;

//
////for h1-h6 of  font size
//$normal-font-size: 14px !default;
//$h1-font-size: floor(($normal-font-size * 2.43)) !default; // ~34px
//$h2-font-size: ceil(($normal-font-size * 2.14)) !default; // ~30px
//$h3-font-size: ceil(($normal-font-size * 2)) !default; // ~28px
//$h4-font-size: ceil(($normal-font-size * 1.71)) !default; // ~24px
//$h5-font-size: floor(($normal-font-size * 1.43)) !default; // ~20px
//$h6-font-size: ceil(($normal-font-size * 1.14)) !default; // ~16px
//$button-size: $h6-font-size; // ~16px
//$full-width: 100% !default; //for width=100%
//$sider-list: $normal-font-size;