<div class="container">
    <section class="text-info-wrap">
        <h1>{{"ABOUT_US"|translate}}</h1>
        <div class="row">
            <div class="col-sm-3 col-xs-3">
                <div class="list-group">
                    <a href="about-us.html" class="list-group-item active">{{"ABOUT_US"|translate}}</a>
                    <a href="privacy.html" class="list-group-item">{{"PRIVACY_POLICY"|translate}}</a>
                    <a href="contact-us.html" class="list-group-item">{{"CONTACT_US"|translate}}</a>
                    <!--<a href="site-map.html" class="list-group-item">{{"SITE_MAP"|translate}}</a>-->
                </div>
            </div>
            <div class="col-sm-9 col-xs-9">
                <p class="lead">中美旅游创建于1999年，是一家专为中国和亚洲旅游者提供各种地面服务的目的地管理公司，总部设在“娱乐之都”拉斯维加斯。</p>
                <p>中美既是一家面向旅游者的旅行社，同时也是很多同业坚实的后盾，提供各种优质产品。 多年来，我们与拉斯维加斯所有大型度假酒店和全美知名连
                    锁酒店拥有多年合作经验，业务从拉斯维加斯拓展到全美各地。不论是自助旅行的游客还是随团出游的客人，中美都将以极具竞争力的价格为您提供高质量服务：</p>

                <p><i class="icon-check-alt"></i>预定房间—所有拉斯维加斯大道上的酒店和大道之外的酒店</p>
                <p><i class="icon-check-alt"></i>演出秀票—提供所有太阳马戏团、BASE娱乐集团、David Saxe制作等众多不同的秀</p>
                <p><i class="icon-check-alt"></i>旅游套餐—提供各种巴士游或飞机团线路</p>
                <p><i class="icon-check-alt"></i>交通工具—豪华加长礼宾车；大、中、小型各类巴士</p>
                <p><i class="icon-check-alt"></i>礼宾服务— 为您安排私人专机，私人 导游等</p>
                <p><i class="icon-check-alt"></i>MICE服务，包含会议服务、奖励旅游服务、展会服务和各种活动策划</p>
                <p  class="lead">旅行社同业，我们为您提供不同的旅游资讯，让您的客人全面了解美国旅游信息 :</p>
                <div class="row">
                    <div class="col-md-5"><img src="images/june-luxe-cover.png"></div>
                    <div class="col-md-7">
                        <h4>《锦邑》杂志 – 一年四刊，每季度都会奉上最新杂志 :</h4>
                        <p><i class="icon-check-alt"></i>提供最具价值的高端旅游信息供游客选择。</p>
                        <p><i class="icon-check-alt"></i>部分甄选出的高端旅游者将直接收到杂志，并通过杂志最后的“预订指南”实现“无缝式预订”。</p>
                        <p><i class="icon-check-alt"></i>杂志内的所有旅游信息都会与我们在线平台链接，方便您了解并订购。</p>
                        <p><i class="icon-check-alt"></i> 每位到拉斯维加斯旅游的游客都将获得一份《锦邑》杂志。</p>
                    </div>
                </div>
                <h3>供应商 :</h3>
                <p>中美旅游也是您的营销推广团队，通过我们多种平台，Portal在线预订系统、《锦邑》杂志，社交媒体（微博），以及其他营销选择，为您量身打造适合您的专属营销项目，
                    帮助您在酒店、演出秀票、旅游线路、餐饮、零售店等业务上积极拓展市场，共谋发展。</p>
                <h4>其他服务包括：</h4>
                <p><i class="icon-check-alt"></i>翻译</p>
                <p><i class="icon-check-alt"></i>口译</p>
                <p><i class="icon-check-alt"></i>导游</p>
                <p><i class="icon-check-alt"></i>洛杉矶机场办公室为导游提供场所会见客人获取更多旅游信息</p>
                <p><i class="icon-check-alt"></i>在我们的部分巴士和洛杉矶办公室里循环播放您的影音视频</p>
                <p><i class="icon-check-alt"></i> Portal网站主页全方位展示您的产品</p>
                <p><i class="icon-check-alt"></i> Portal网站为您打造产品的专属网页</p>
                <p class="lead">让我们协助您的需求，使旅游体验＂无缝＂！</p>
            </div>
        </div>
    </section>
</div>