<div style="float: left; margin: 0 15px; width: 940px;">
    <div class="myorder-wrap">
        <div class="path">
            <h3>修改密码</h3>
        </div>
        <div class="order-search row" style="margin-bottom: 30px;">
            <div class="form-inline">
                <div class="form-group col-md-3 col-xs-6">
                    <i class="icon-calendar"></i>
                    <input type="date" class="input-date input-default form-control" placeholder="开始时间">
                </div>
                <div class="form-group col-md-3 col-xs-6">
                    <i class="icon-calendar"></i>
                    <input type="date" class="input-date input-default form-control" placeholder="开始时间">
                </div>
                <div class="form-group col-md-4 col-xs-6">
                    <input type="date" class="input-r-icon input-default form-control" placeholder="类型">
                    <i class="icon-caret-down "></i>
                </div>
                <div class="form-group  col-md-2 col-xs-6">
                    <button type="button" class="btn btn-red">查询</button>
                </div>
            </div>
        </div>
        <div class="row">
            <table class="table-bordered table">
                <thead>
                <tr class="active">
                    <th> TripId</th>
                    <th>Primary Guest Name</th>
                    <th>Passenger Count</th>
                    <th>Services Begin Date</th>
                    <th>Services End Date</th>
                    <th>Price</th>
                    <th>Create Date</th>
                    <th>Agency</th>
                    <th>Status</th>
                    <th>操作栏</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td> TripId</td>
                    <td>www</td>
                    <td>ee</td>
                    <td>t</td>
                    <td>rr</td>
                    <td>Price</td>
                    <td>CreateDate</td>
                    <td>Agency</td>
                    <td>Status</td>
                    <td><a href="#">取消</a> <a href="#">修改</a></td>
                </tr>
                <tr>
                    <td> TripId</td>
                    <td>tt</td>
                    <td>bf</td>
                    <td>cvb</td>
                    <td>bv</td>
                    <td>Price</td>
                    <td>CreateDate</td>
                    <td>Agency</td>
                    <td>Status</td>
                    <td></td>
                </tr>
                <tr>
                    <td> TripId</td>
                    <td>dh</td>
                    <td>dfgd</td>
                    <td>xcbv</td>
                    <td>xb</td>
                    <td>Price</td>
                    <td>CreateDate</td>
                    <td>Agency</td>
                    <td>Status</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
