<div style="float: left; margin: 0 15px; width: 940px;">
    <div class="myorder-wrap">
        <div class="path">
            <h3>Finance Information</h3>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3"><strong>Name: </strong>{{userName}}</div>

            <div class="col-sm-3"><strong>Credit Balance: </strong> ${{financeInfo.CreditBalance}}</div>

            <div class="col-sm-3"><strong>Percent Remaining: </strong>{{financeInfo.CreditPercentRemaining}}%</div>

            <div class="col-sm-3"><strong>Card Code Required: </strong>{{financeInfo.CardCodeRequired}}</div>
        </div>
        <br>
        <div class="row">
            <table class="table-bordered table">
                <thead>
                <tr class="active">
                    <th>Profile ID</th>
                    <th>Payment Method</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="item in financeInfo.Profiles">
                    <td>{{item.ProfileID}}</td>
                    <td>{{item.PaymentMethod}}</td>
                    <td>{{item.Description}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>