<div class="container cdh-product">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <section class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object" src="images/go123.png" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h2>Go123 Packages</h2>
                    <p>Go123，是我们最新推出的一款自由路线定制，客户可以
                        自由组合行程，可根据客户需求量身定制</p>
                    <a href="#">View Detail</a>
                </div>
            </section>
        </div>
        <div class="col-md-6 col-xs-12">
            <section class="media2">
                <p><b>Go123 Shuttles</b>&nbsp;set out every day</p>
                <button type="button" class="btn btn-red btn-lg">View Detail</button>
            </section>
        </div>
    </div>
</div>