<div class="container-bg" style="padding: 10px;" >
    <div class="col-md-6 col-center-block myorder-wrap">
        <h3>Group Information</h3>
        <hr>
    <form name="group_form" class="form-horizontal" data-ng-submit="submitForm()" novalidate>
        <div class="form-group">
            <label class="control-label col-sm-4">Adults: </label>
            <div class="col-sm-8">
                <!--<input class="form-control" type="text" placeholder="0">-->
                <div class="input-group spinner" data-trigger="spinner" id="adults">
                    <input id="adultQty" type="text" class="form-control" data-rule="quantity" data-ng-model="group.adults" required>
                  <span class="input-group-addon">
                    <a href="javascript:;" class="spin-up" data-spin="up" style="padding-left:0;"><icon class="glyphicon glyphicon-triangle-top" style="font-size:9px;"></icon></a>
                    <a href="javascript:;" class="spin-down" data-spin="down" style="padding-left:0;"><span class="glyphicon glyphicon-triangle-bottom" style="font-size:9px;"></span></a>
                  </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Children: </label>
            <div class="col-sm-8">
                <!--<input class="form-control" type="text" placeholder="under 18 years old">-->
                <div class="input-group spinner" data-trigger="spinner" id="children">
                    <input id="childrenQty" type="text" class="form-control" data-rule="quantity" data-ng-model="group.children">
                  <span class="input-group-addon">
                    <a href="javascript:;" class="spin-up" data-spin="up" style="padding-left:0;"><icon class="glyphicon glyphicon-triangle-top" style="font-size:9px;"></icon></a>
                    <a href="javascript:;" class="spin-down" data-spin="down" style="padding-left:0;"><span class="glyphicon glyphicon-triangle-bottom" style="font-size:9px;"></span></a>
                  </span>
                </div>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : group_form.startDate.$invalid && group_form.$submitted }">
            <label class="control-label col-sm-4">Start Date: </label>
            <div class="col-sm-8">
                <input id="startDate" name="startDate" type="text" class="form-control input" data-date-picker data-start-date="+10d"
                       placeholder="Start Date" data-ng-model="group.startDate" required>
                <div class="text-red" data-ng-messages="group_form.startDate.$error" data-ng-show="group_form.startDate.$invalid && group_form.$submitted">
                    <small data-ng-message="required">Please input start date</small>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Nights: </label>
            <div class="col-sm-8">
                <!--<input class="form-control" type="text" placeholder="How many nights will you stay?">-->
                <div class="input-group spinner" data-trigger="spinner" id="nights">
                    <input id="nightsQty" type="text" class="form-control" data-rule="quantity" data-ng-model="group.nights" required>
                  <span class="input-group-addon">
                    <a href="javascript:;" class="spin-up" data-spin="up" style="padding-left:0;"><icon class="glyphicon glyphicon-triangle-top" style="font-size:9px;"></icon></a>
                    <a href="javascript:;" class="spin-down" data-spin="down" style="padding-left:0;"><span class="glyphicon glyphicon-triangle-bottom" style="font-size:9px;"></span></a>
                  </span>
                </div>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : group_form.destinations.$invalid && group_form.$submitted }">
            <label class="control-label col-sm-4">Destinations: </label>
            <div class="col-sm-8">
                <input type="hidden" name="destinations" data-ng-model="destinations" required>
                <label class="checkbox-inline" data-ng-repeat="item in group.destinations">
                    <input type="checkbox" data-ng-model="group.destinations[$index].selected" data-ng-change="changeDestinations()">{{item.name}}&nbsp;
                </label>
                <br><input class="form-control" type="text" placeholder="input your destinations not listed above" data-ng-model="group.otherDestinations" data-ng-change="changeDestinations()">
                <div class="text-red" data-ng-messages="group_form.destinations.$error" data-ng-show="group_form.destinations.$invalid && group_form.$submitted">
                    <small data-ng-message="required">Please select or input destinations</small>
                </div>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : group_form.services.$invalid && group_form.$submitted }">
            <label class="control-label col-sm-4">Services: </label>
            <div class="col-sm-8">
                <input type="hidden" name="services" data-ng-model="services" required>
                <label class="checkbox-inline" data-ng-repeat="item in group.services" >
                    <input type="checkbox" data-ng-model="group.services[$index].selected" data-ng-change="changeServices()"> {{item.name}}
                </label>
                <br><input class="form-control" type="text" placeholder="input services not listed above" data-ng-model="group.otherServices" data-ng-change="changeDestinations()">
                <div class="text-red" data-ng-messages="group_form.services.$error" data-ng-show="group_form.services.$invalid && group_form.$submitted">
                    <small data-ng-message="required">Please select or input services</small>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Minimum Star: </label>
            <div class="col-sm-8">
                <!--<input class="form-control" type="text" placeholder="0">-->
                <div id="star"></div>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : group_form.email.$invalid && group_form.$submitted }">
            <label class="control-label col-sm-4">Email Address: </label>
            <div class="col-sm-8">
                <input class="form-control" type="email" name="email" placeholder="example@example.com" data-ng-model="group.email" required>
                <div class="text-red" data-ng-messages="group_form.email.$error" data-ng-show="group_form.email.$invalid && group_form.$submitted">
                    <small data-ng-message="required">Please input your email address.</small>
                    <small data-ng-message="email">That email is not valid, please input a valid email.</small>
                </div>
            </div>
        </div>
        <div class="form-group text-right">
            <button type="submit" class="btn btn-info" >Get Group Quote</button>
        </div>
    </form>
    </div>
</div>
<script>
    $('#adults').spinner({
        max:99,
        min:5,
        step:1
    });
    $('#children').spinner({
        max:99,
        min:0,
        step:1
    });
    $('#nights').spinner({
        max:99,
        min:1,
        step:1
    });
    $('#star').raty({cancel:true, half: true, score:0, path:'images/'});
</script>