<div class="row">
    <div class="col-xs-5 col-md-5"><img data-ng-src="{{app.root}}images/logo.png" class="cdh-logo"></div>
    <div class="col-xs-7 col-md-7">
        <ul class="top-menu">
            <li>
                <span uib-dropdown dropdown-append-to-body data-ng-controller="languageController">
                      <a href uib-dropdown-toggle><i
                              data-ng-class="{true:'language-cn', false:'language-en'}[language.isChinese]"></i>{{"CURRENT_LANGUAGE"|translate}}<i
                              class="icon-caret-down"></i></a>
                      <ul class="uib-dropdown-menu" style="min-width: 80px; margin-left:-20px">
                          <li role="menuitem"><a href data-ng-click="changeLanguage('CHI')">{{"CN"|translate}}</a></li>
                          <li class="divider"></li>
                          <li role="menuitem"><a href data-ng-click="changeLanguage('ENG')">{{"EN"|translate}}</a></li>
                      </ul>
                </span>
            </li>
            <li><a href data-toggle="modal" data-target="#register">{{"REGISTER"|translate}}</a></li>
            <li><a href data-toggle="modal" data-target="#login">{{"LOGIN"|translate}}</a></li>
        </ul>
        <div class="top-tel">
            <i class="icon-phone-hang-up"></i>877-59015500
        </div>
    </div>
</div>
<div class="search-position">
    <form class="search-wrap">
        <input class="form-control input-text input-lg" type='text' placeholder="{{'KEYWORD'|translate}}"/>
        <i class="icon-search"></i>
    </form>
</div>
