<!-- content start here -->
<main role="main">

    <!-- begin content slider -->
    <div class="carousel slide" data-ng-show="banners.length > 0">
        <uib-carousel interval="slide.slideInterval" no-wrap="slide.noWrapSlides"
                      template-url="templates/ui-bootstrap/carousel.html">
            <uib-slide ng-repeat="item in banners" active="item.active" index="item.ProductId"
                       template-url="templates/ui-bootstrap/slide.html">
                <img ng-src="{{item.ImageURI}}" style="margin:auto;">

                <div class="carousel-caption">
                    <h1>{{item.Title}}</h1>

                    <p>{{item.SubTitle}}</p>
                </div>
            </uib-slide>
        </uib-carousel>
    </div>
    <!-- end content slider -->

    <!-- begin go123 & Shuttle -->
    <!--<div class="container cdh-product">-->
        <!--<div class="row">-->
            <!--<div class="col-md-6 col-xs-12">-->
                <!--<section class="media">-->
                    <!--<div class="media-left media-middle">-->
                        <!--<a href="#">-->
                            <!--<img class="media-object" src="images/go123.png" alt="...">-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div class="media-body">-->
                        <!--<h2>Go123 Packages</h2>-->

                        <!--<p>Go123，是我们最新推出的一款自由路线定制，客户可以-->
                            <!--自由组合行程，可根据客户需求量身定制</p>-->
                        <!--<a href="#">View Detail</a>-->
                    <!--</div>-->
                <!--</section>-->
            <!--</div>-->
            <!--<div class="col-md-6 col-xs-12">-->
                <!--<section class="media2">-->
                    <!--<p><b>Go123 Shuttles</b>&nbsp;set out every day</p>-->
                    <!--<button type="button" class="btn btn-red btn-lg">View Detail</button>-->
                <!--</section>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!-- end go123 & Shuttle -->

    <div class="container-bg container-padding">
        <div class="container">
            <section class="thumbnail-part" data-ng-show="destinations.length > 0">
                <header class="header-container">
                    <div class="title position">
                        <img src="images/location.png" class="big-icon">
                        <h2>{{"DESTINATION"|translate}}</h2></div>
                    <div class="head-menu text-right">
                        <a data-ng-href="destinations.html#/{{languageId}}">{{"MORE"|translate}}</a>
                        <!--<a data-ng-href="hotels.html#/{{languageId}}" class="active">{{"ALL"|translate}}</a>-->
                        <!--<a data-ng-repeat="item in destinations" data-ng-href="hotels.html#/destination/{{item.ProductId}}/{{languageId}}">{{item.Name}}</a>-->
                    </div>
                </header>
                <!--<div class="title">-->
                    <!--<i class="icon-city"></i>-->

                    <!--<h2>{{"DESTINATION"|translate}}</h2>-->
                <!--</div>-->
                <div class="slides-container city-slider">
                    <div data-u="loading" style="position: absolute;top:0;left:0;">
                        <div class="loading-icon"></div>
                    </div>
                    <div class="row c-s-list" data-u="slides" id="slides">
                        <!--<div class="col-sm-6 col-md-4">-->
                            <!--<div class="thumbnail" >-->
                                <!--<a data-ng-href="destinations.html#/{{item.ProductId}}/{{languageId}}" class="flo-layer">-->
                                <!--<span class="flo-layer-c text">{{item.Name}}</span>-->
                                <!--<img data-u="image" data-ng-src="{{item.MainInformation.ThumbnailImageURI}}">-->
                                <!--</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                    <span data-u="arrowleft" class="jssora03l" data-autocenter="2"><i
                            class="icon-chevron-thin-left "></i> </span>
                    <span data-u="arrowright" class="jssora03r" data-autocenter="2"><i
                            class="icon-chevron-thin-right "></i></span>
                </div>
                <script type="text/javascript">
                    function initSlider(imageData) {
                        var jssorOptions = {
                            $AutoPlay: true,
                            $AutoPlaySteps: 3,
                            $SlideDuration: 160,
                            $SlideWidth: 400,
                            $SlideSpacing: 0,
                            $Cols: 3,
                            $ArrowNavigatorOptions: {
                                $Class: $JssorArrowNavigator$,
                                $Steps: 3
                            },
                            $BulletNavigatorOptions: {
                                $Class: $JssorBulletNavigator$,
                                $SpacingX: 1,
                                $SpacingY: 1
                            }
                        };
                        var slides = $('#slides');
                        var container = slides.closest('.slides-container');
                        if (!container.attr("id"))
                            container.attr("id", new Date().getTime());

                        var innerHtml = '';
                        for (var i = 0; i < imageData.length; i++) {
                            innerHtml += '<div class="col-sm-6 col-md-4"><div class="thumbnail">';
                            innerHtml += '<a href="' + imageData[i].url + '" class="flo-layer">';
                            innerHtml += '<span class="flo-layer-c text">' + imageData[i].caption + '</span>';
                            innerHtml += '<img data-u="image" src="' + imageData[i].image + '" />';
                            innerHtml += '</a>';
                            innerHtml += '</div></div>';
                        }
                        slides.html(innerHtml);

                        var jssorObject = new $JssorSlider$(container.attr("id"), jssorOptions);

                        function ScaleSlider() {
                            var refSize = jssorObject.$Elmt.parentNode.clientWidth;
                            if (refSize) {
                                refSize = Math.min(refSize, 400 * 3 + 30 * 2);
                                jssorObject.$ScaleWidth(refSize);
                            }
                            else {
                                window.setTimeout(ScaleSlider, 30);
                            }
                        }

                        ScaleSlider();
                        $Jssor$.$AddEvent(window, "load", ScaleSlider);
                        $Jssor$.$AddEvent(window, "resize", ScaleSlider);
                        $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
                    }
                </script>
            </section>

            <section class="thumbnail-part" >
                <header class="header-container">
                    <div class="title position"><img src="images/hotel.png" class="big-icon">

                        <h2>{{"HOTEL"|translate}}</h2></div>
                    <div class="head-menu">
                        <!--<a data-ng-href="hotels.html#/{{languageId}}" class="active">{{"ALL"|translate}}</a>-->
                        <a href data-ng-repeat="item in destinations" data-ng-click="loadHotels(item)" data-ng-class="{active:(item == currentHotelsDestination)}">{{item.Name}}</a>
                        <a href style="float:right" data-ng-click="showHotelMainPage()">{{"MORE"|translate}} In '{{currentHotelsDestination.Name}}'</a>
                    </div>
                </header>
                <div class="row">
                    <div class="col-sm-6 col-md-4" data-ng-repeat="item in hotels">
                        <div class="thumbnail">
                            <a data-ng-href="{{item.DetailsURI}}">
                                <!--
                                <span class="sales-layer">Pref</span>
                                -->
                                <img data-ng-src="{{item.MainInformation.LargeImageURI}}" style="width:100%;height:260px;">
                            </a>

                            <div class="caption">
                                <h3><a data-ng-href="{{item.DetailsURI}}">{{item.Name|limitTo:30}}...</a><i
                                        data-ng-class="item.starClass"></i></h3>
                                <!--
                                <a data-ng-href="hotels.html#/{{item.Id}}/comment/{{languageId}}"><span>8.3</span>451 comments</a>
                                -->
                                <!--<ul class="hotel">-->
                                    <!--<li>{{item.Location.Name}}</li>-->
                                    <!--
                                    <li class="text-right price"><s class="aa">$200</s><span>$89.00</span></li>
                                    -->
                                <!--</ul>-->
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="thumbnail-part" >
                <!--<div class="title">-->
                <!--<i class="icon-show"></i>-->
                <!--<h2>{{"SHOW"|translate}}</h2>-->
                <!--</div>-->
                <header class="header-container">
                    <div class="title position"><img src="images/activity.png" class="big-icon">

                        <h2>{{"ACTIVITIES"|translate}}</h2></div>
                    <div class="head-menu">
                        <a href data-ng-repeat="item in destinations" data-ng-click="loadActivities(item)" data-ng-class="{active:(item == currentActivitiesDestination)}">{{item.Name}}</a>
                        <a href style="float:right" data-ng-click="showActivitiesMainPage()">{{"MORE"|translate}} In '{{currentActivitiesDestination.Name}}'</a>
                    </div>
                </header>
                <div class="row">
                    <div class="col-sm-6 col-md-4" data-ng-repeat="item in activities">
                        <div class="thumbnail">
                            <a data-ng-href="{{item.DetailsURI}}">
                                <img data-ng-src="{{item.MainInformation.LargeImageURI}}" style="width:100%;height:260px;">
                            </a>

                            <div class="caption">
                                <h3><a data-ng-href="{{item.DetailsURI}}">{{item.Name | limitTo:40}}...</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="thumbnail-part" >
                <!--<div class="title">-->
                <!--<i class="icon-show"></i>-->
                <!--<h2>{{"SHOW"|translate}}</h2>-->
                <!--</div>-->
                <header class="header-container">
                    <div class="title position"><img src="images/tour.png" class="big-icon">

                        <h2>{{"TOURS"|translate}}</h2></div>
                    <div class="head-menu">
                        <a href data-ng-repeat="item in destinations" data-ng-click="loadTours(item)" data-ng-class="{active:(item == currentToursDestination)}">{{item.Name}}</a>
                        <a href style="float:right" data-ng-click="showToursMainPage()">{{"MORE"|translate}} In '{{currentToursDestination.Name}}'</a>
                    </div>
                </header>
                <div class="row">
                    <div class="col-sm-6 col-md-4" data-ng-repeat="item in tours">
                        <div class="thumbnail">
                            <a data-ng-href="{{item.DetailsURI}}">
                                <img data-ng-src="{{item.MainInformation.LargeImageURI}}" style="width:100%;height:260px;">
                            </a>

                            <div class="caption">
                                <h3><a data-ng-href="{{item.DetailsURI}}">{{item.Name|limitTo:40}}...</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="thumbnail-part" >
                <!--<div class="title">-->
                <!--<i class="icon-show"></i>-->
                <!--<h2>{{"SHOW"|translate}}</h2>-->
                <!--</div>-->
                <header class="header-container">
                    <div class="title position"><img src="images/package.png" class="big-icon">

                        <h2>{{"PACKAGES"|translate}}</h2></div>
                    <div class="head-menu">
                        <a href data-ng-repeat="item in destinations" data-ng-click="loadPackages(item)" data-ng-class="{active:(item == currentPackagesDestination)}">{{item.Name}}</a>
                        <a href style="float:right" data-ng-click="showPackagesMainPage()">{{"MORE"|translate}} In '{{currentPackagesDestination.Name}}'</a>
                    </div>
                </header>
                <div class="row">
                    <div class="col-sm-6 col-md-4" data-ng-repeat="item in packages">
                        <div class="thumbnail">
                            <a data-ng-href="{{item.DetailsURI}}">
                                <img data-ng-src="{{item.MainInformation.LargeImageURI}}" style="width:100%;height:260px;">
                            </a>

                            <div class="caption">
                                <h3><a data-ng-href="{{item.DetailsURI}}">{{item.Name|limitTo:40}}...</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>

</main>
<!-- content end here -->