<!-- content start here -->
<main role="main">
    <div class="banner b-hotel">
        <div class="container">
            <h1>Hundreds of hotels - 数百家酒店任君选择</h1>
            <p>从青年旅舍到古堡豪宅，从星级酒店到当地人家，总有一家适合你！</p>
            <div class="quick-search">
                <form class="form-inline" style="overflow: hidden">
                    <div class="form-group pos-location">
                        <i class="icon-location2"></i>
                        <input type="text" class="input-l-r-icon input-hotel-lg form-control"
                               placeholder="Destination/City">
                        <i class="icon-caret-down "></i>
                    </div>
                    <div class="form-group pos-date">
                        <i class="icon-calendar"></i>
                        <input type="date" class="input-date input-hotel-lg form-control" placeholder="2015-12-05">
                    </div>
                    <div class="form-group pos-date">

                        <!--<div ng-controller="DateParserDemoCtrl">-->
                            <!--<h4>Formatting codes playground</h4>-->
                            <!--<p class="form-group">-->
                                <!--<label>Define your format</label>-->
                                <!--<input type="text" ng-model="format" class="form-control">-->
                            <!--</p>-->
                            <!--<p class="form-group">-->
                                <!--<label>Result</label>-->
                                <!--<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="date" />-->
                            <!--</p>-->
                        <!--</div>-->
                        <!--angular.module('ui.bootstrap.demo').controller('DateParserDemoCtrl', function ($scope, uibDateParser) {-->
                        <!--$scope.format = 'yyyy/MM/dd';-->
                        <!--$scope.date = new Date();-->
                        <!--});-->

                        <!--<div class="col-md-6">-->
                            <!--<p class="input-group">-->
                                <!--<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />-->
          <!--<span class="input-group-btn">-->
            <!--<button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>-->
          <!--</span>-->
                            <!--</p>-->
                        <!--</div>-->
                        <i class="icon-calendar"></i>
                        <input type="date" class="input-date input-hotel-lg form-control" placeholder="2015-12-15">
                    </div>
                    <div class="form-group pos-number">
                        <input type="text" class="input-r-icon input-hotel-lg form-control" placeholder="1 room">
                        <i class="icon-caret-down "></i>
                    </div>
                    <div class="form-group pos-button">
                        <a href="search-list.html">
                            <button type="button" class="btn btn-red" onclick="">Search</button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container-bg container-padding">
        <div class="container">

            <section class="thumbnail-part" style="margin-top: 30px;" data-ng-include="'templates/partials/hotel-destination-slider.html'">
            </section>

            <section class="thumbnail-part" style="margin-top: 30px;" data-ng-include="'templates/partials/hotel-featured-list.html'">
            </section>

        </div>
    </div>
</main>