<!-- content start here -->
<main role="main">
    <div class="banner b-hotel">
        <div class="container">
            <h1>Hundreds of hotels - 数百家酒店任君选择</h1>
            <p>从青年旅舍到古堡豪宅，从星级酒店到当地人家，总有一家适合你！</p>
            <div class="quick-search">
                <form class="form-inline" style="overflow: hidden">
                    <div class="form-group pos-location">
                        <i class="icon-location2"></i>
                        <input type="text" class="input-l-r-icon input-hotel-lg form-control"
                               placeholder="Destination/City">
                        <i class="icon-caret-down "></i>
                    </div>
                    <div class="form-group pos-date">
                        <i class="icon-calendar"></i>
                        <input type="date" class="input-date input-hotel-lg form-control" placeholder="2015-12-05">
                    </div>
                    <div class="form-group pos-date">
                        <i class="icon-calendar"></i>
                        <input type="date" class="input-date input-hotel-lg form-control" placeholder="2015-12-15">
                    </div>
                    <div class="form-group pos-number">
                        <input type="text" class="input-r-icon input-hotel-lg form-control" placeholder="1 room">
                        <i class="icon-caret-down "></i>
                    </div>
                    <div class="form-group pos-button">
                        <a href="search-list.html">
                            <button type="button" class="btn btn-red" onclick="">Search</button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container-bg container-padding">
        <div class="container">

            <section class="thumbnail-part" style="margin-top: 30px;" data-ng-include="'templates/partials/hotel-destination-slider.html'">
            </section>

            <section class="thumbnail-part" style="margin-top: 30px;" data-ng-include="'templates/partials/hotel-featured-list.html'">
            </section>

        </div>
    </div>
</main>