<form class="hotel-search-form form-inline">
    <div class="container">
            <div class="form-group">
                <label>Destination:</label>
                <select class="form-control" style="width:180px;" data-ng-model="dest" data-ng-options="item.ProductId as item.Name for item in destinations">
                    <!--<option value="{{item.ProductId}}" data-ng-repeat="item in destinations">{{item.Name}}</option>-->
                </select>
            </div>
            <div class="form-group">
                <label>Date:</label>
                <input id="startDate" type="text" class="form-control" data-date-picker ng-model="startDate" data-init-date="startDate">
            </div>
            <div class="form-group">
                <label>Nights:</label>
                <input type="text" class="form-control input-number" data-ng-model="nights">
            </div>
            <div class="form-group">
                <label>Rooms:</label>
                <input type="text" class="form-control input-number" data-ng-model="rooms">
            </div>
            <div class="form-group">
                <label>Adults:</label>
                <input type="text" class="form-control input-number" data-ng-model="adults">
            </div>
            <div class="form-group">
                <label>Children:</label>
                <input type="text" class="form-control input-number" data-ng-model="children">
            </div>
            <div class="form-group">
                <a href data-ng-click="search()"><i class="icon-search"></i></a>
            </div>
        </div>
</form>

<div data-ng-include="'templates/partials/hotel-search-list.html'">
</div>