<div class="row">
    <section class="col-md-6 ">
        <h4 translate="{{'NEWS_RELEASE'}}">行业动态</h4>
        <p>Is this content static or fetched from server? Is this content static or not? fetched from Server ? Is this content static or not? Is this content static or not? Is this content static or not? Is this content static or not?</p>
    </section>
    <section class="col-md-6">
        <h4 translate="{{'NEWSLETTER'}}">产品快讯</h4>
        <p>Is this content static or fetched from Server ?</p>
    </section>
</div>