<div class=" footer-coop">
    <h4 translate="{{'PARTNER1'}}">合作伙伴</h4>
    <ul>
        <li><a href="http://www.ctrip.com/" target="_blank"><img data-ng-src="{{app.root}}images/logo-ctrip.png" alt="携程网"></a></li>
        <li><a href="http://www.haiwan.com/" target="_blank"><img data-ng-src="{{app.root}}images/logo-haiwan.png" alt="海玩网"></a></li>
        <li><a href="http://www.qyer.com/" target="_blank"><img data-ng-src="{{app.root}}images/logo-qiongyou.png" alt="穷游网"></a></li>
        <li><a href="http://www.taketours.com/" target="_blank"><img data-ng-src="{{app.root}}images/logo-taketours.png" alt="TakeTours"></a></li>
        <li><a href="http://www.tuniu.com/" target="_blank"><img data-ng-src="{{app.root}}images/logo-tuniu.png" alt="途牛网"></a></li>
        <li><a href="http://cn.toursforfun.com/" target="_blank"><img data-ng-src="{{app.root}}images/logo-toursforfun.png" alt="途风网"></a></li>
        <li><a href="http://www.lulutrip.com/" target="_blank"><img data-ng-src="{{app.root}}images/logo-lulutrip.png" alt="路路行"></a></li>
    </ul>
</div>