<div class="container">
    <section class="text-info-wrap">
        <h1>{{"PRIVACY_POLICY"|translate}}</h1>
        <div class="row">
            <div class="col-sm-3 col-xs-3">
                <div class="list-group">
                    <a href="about-us.html" class="list-group-item">{{"ABOUT_US"|translate}}</a>
                    <a href="privacy.html" class="list-group-item active">{{"PRIVACY_POLICY"|translate}}</a>
                    <a href="contact-us.html" class="list-group-item">{{"CONTACT_US"|translate}}</a>
                    <!--<a href="site-map.html" class="list-group-item">{{"SITE_MAP"|translate}}</a>-->
                </div>
            </div>
            <div class="col-sm-9 col-xs-9">
                <p class="lead">在chdestination.com，我们致力于保护您的隐私。我们非常重视您的信任，并高度保证您提供给我们的个人信息的安全性和保密性。请阅读我们的隐私政策的更多细节。</p>
                <h3>我们收集什么样的信息？</h3>
                <h4>我们将这样使用您的信息：</h4>
                <p><i class="icon-check-alt"></i>个性化服务：您的个人资料会帮助我们更好的了解您的个人需求，并提供个性化的反馈。</p>
                <p><i class="icon-check-alt"></i>改善我们的网站：从您给我们的意见反馈中，我们会致力于改善我们网站所提供的一切。</p>
                <p><i class="icon-check-alt"></i>提升客户服务：您的信息会帮我们更有效的反馈给您服务当中的要求和需求。</p>
                <p><i class="icon-check-alt"></i>交易处理：没有您的允许，我们都不会将您的公开信息或是个人信息因任何理由转卖或交换。除非您的信息需要传递给您所购买的产品或服务。</p>
                <p><i class="icon-check-alt"></i>提供各种优惠促销，意见反馈或者网站其他特色。</p>
                <p><i class="icon-check-alt"></i>定期发送电子邮件：您提供的电子邮箱只是用来给您发送和您预订产品相关的信息。</p>

                <h3>我们如何保护您的信息？</h3>
                <p>当您下订单或者输入，递交，进入您的私人信息时，我们执行不同的安全措施来维护您私人信息的安全。
                    我们使用安全服务器。所有用户的支付账户信息将会由安全套接字层技术来传送(SSL)，通过授权过的系统加密到我们的付款者资料库，并被要求保密这些资料。
                    交易之后，您的私人信息（信用卡，社会安全号，财务信息等等）将不会被我们的服务器储存。</p>
                <h3>我们会使用记录上网用户信息的网络跟踪器吗？</h3>
                <p>是的，网络跟踪器是一个小文档，用来记住你浏览网页时的信息。
                    当你访问这个网站时，我们会自动收集一些有关您电脑的信息。比如说，我们会收集你的IP地址，网页浏览器软件（像是火狐，苹果浏览器，或者因特网），并且一些涉及到的相关网站。
                    我们同时也可能会收集关于您在线活动的信息，像是查看旅游信息和一些预定信息。我们自动收集您的信息的目的是帮助您的个性化使用和防止您受到欺诈。
                </p>
                <h3>我们会向外披露您的任何信息吗？</h3>
                <p>我们不会出售，交易，或者以其他方式转让向他人转让您的个人信息。</p>
                <p>这不包括受信任的第三方，他们协助我们经营我们的网站，开展我们的业务，或者为您服务。只要双方同意对这一信息进行保密。我们也可以在法律的允许下适当的发布您的信息，
                    增强我们的网站政策，保护我们或他人的权力，财产或安全。然而，非个人识别访问者的信息，向其他缔约方提供市场营销，广告或其他用途。</p>
                <p>信息共享与供应商等信息，满足您旅游预订信息的需要，如酒店，航空公司，汽车租赁或活动的供应商。纵观本网站，由第三方供应商提供的所有服务等。我们不会把您的电子邮箱地址透露给他们。
                    我们限制他们使用此信息，除非他们要完成您在我们网站上预订的旅程。我们不限制供应商的使用或披露您的个人资料，因此，我们鼓励您通过您在本网站购买产品的任何旅游供应商的因此政策。请注意，这些供应商也可能会联系您获得您的更多信息，方便预订旅行，或作出反馈，审查您的申请。
                </p>
                <h3>儿童网上隐私保护法遵守</h3>
                <p>我们遵守(儿童在线隐私保护法案)的要求,我们不从任何未满13岁的儿童那里获取任何信息。我们的网站、产品和服务都只直接针对那些至少13岁以上的顾客。</p>
                <h3>电子邮件通信</h3>
                <p>我们想让您在在线体验更为便捷。其中的一个方法是定期给您发送一些符合您兴趣的相关旅游产品。例如,你在我们的网站上搜索到一个感兴趣的拉斯维加斯酒店,并保存您的行程,我们会发给你一封
                    电子邮件来提醒此行程或者相关的到拉斯维加斯的特价机票。同样的, 如果你从我方收到一封关于拉斯维加斯旅行的电子邮件，并通过点击拉斯维加斯酒店的链接以显示您对此产品的兴趣, 您可能会
                    收到一封关于拉斯维加斯特价酒店或其他目的地的信息的电子邮件。我们相信这些邮件消息将提供给你有用的旅游信息。请注意, 您也有权利选择不接收我们发送的这些邮件。</p>
                <h3>从美国以外的国家访问我们的网站</h3>
                <p>如果你从美国以外的国家访问我们的网站,请注意,您的信息将会被转移和存储,并且在美国进行处理,因为我们的服务器及中央数据库都位于美国。数据保护和其他美国的法律可能不如你的国家全面,
                    但是请放心, 我们会采取一切措施确保您的隐私受到保护。通过使用我们的服务代表用户明白自己的信息可能被转移到我们的设施及我们在此政策中描述的相关第三方。</p>
                <h3>在线隐私保护权政策</h3>
                <p>这份在线隐私保护权政策仅适用于通过我们网站所收集的信息，而并非是线下收集的信息。</p>
                <h3>您的同意</h3>
                <p>当您浏览我们的网页时，我们默认您同意我们在线隐私保护政策。</p>
                <h3>隐私保护政策的更改</h3>
                <p>如果我们决定更改隐私保护权政策，我们将会在这个网页上公布所做的更改，并且会注明更改日期。</p>
                <p>最近一次更改时间是2013年6月1日</p>
                <h3>联系方式</h3>
                <p>如果你有任何关于隐私保护权政策的问题，您可以通过我们客户服务反馈表联系我们。</p>
            </div>
        </div>
    </section>
</div>