<form class="search-main">
    <div class="container">
        <div class=" row">
            <div class="col-md-5 relative">
                <i class="icon-location2"></i>
                <!--<input type="text" class="form-control" placeholder="Location">-->
                <div angucomplete-alt id="searchLocation"
                     placeholder="Location"
                     pause="1000"
                     selected-object="selectedSearchLocation"
                     local-data="searchLocations"
                     search-fields="Name"
                     title-field="Name"
                     minlength="1"
                     input-class="form-control input"
                     match-class="highlight"
                     initial-value="selectedLocationName">
                </div>
            </div>
            <div class="col-md-2 relative">
                <i class="icon-calendar"></i>
                <input id="startDate" type="text" class="form-control input" data-date-picker data-start-date="+1d"
                       placeholder="{{'START_DATE'|translate}}" data-ng-model="startDate" data-init-date="startDate">
            </div>
            <div class="col-md-4 relative">
                <i class="icon-users"></i>
                <input type="text" class="form-control input" placeholder="0 adult(s) 0 minor(s)"
                       data-ng-model="guestsInfo"
                       uib-popover-template="guestsTemplateUrl" popover-title="{{'GUESTS'|translate}}"
                       popover-is-open="showGuests" ng-click="showGuests = true"
                       popover-trigger="none" popover-placement="bottom">
            </div>
            <div class="col-md-1 relative">
                <a href data-ng-click="searchServices()" uib-tooltip="{{tooltips|translate}}"
                   tooltip-class="error" tooltip-is-open="showTooltip" tooltip-placement="auto top"
                   tooltip-trigger="none"><i class="icon-search"></i></a>
            </div>
        </div>
    </div>
</form>
<div class="container-bg container-padding">
    <div class="container">
        <div class="filter-box" data-ng-show="showTypeFilter || prices.length > 0">
            <dl class="filter-item" data-ng-show="showTypeFilter">
                <dt><i class="icon-directions_bike"></i>&nbsp;{{"TYPE"|translate}}</dt>
                <dd>
                    <!--<a href data-ng-class="{'active':selectedType==null}"-->
                       <!--data-ng-click="filterByType(null)">All</a>-->
                    <!--<a href data-ng-repeat="item in types"-->
                       <!--data-ng-class="{'active':selectedType==item.id}"-->
                       <!--data-ng-click="filterByType(item.id)">{{item.name}}</a>-->
                    <label data-ng-repeat="item in types" class="checkbox-inline">
                        <input type="checkbox" value="{{item.Id}}" data-ng-model="item.selected" data-ng-change="filterByType(null)"> {{item.Name}}
                    </label>
                </dd>
            </dl>
            <dl class="filter-item" data-ng-show="prices.length > 0">
                <dt><i class="icon-coin-dollar"></i>&nbsp;{{"PRICE"|translate}}</dt>
                <dd>
                    <a href data-ng-class="{'active':selectedPrice==null}"
                       data-ng-click="filterByPrice(null)">{{"ALL"|translate}}</a>
                    <a href data-ng-repeat="item in prices | orderBy:'+Id':false"
                       data-ng-class="{'active':selectedPrice==item.Id}"
                       data-ng-click="filterByPrice(item.Id)">{{item.Name}}</a>
                </dd>
            </dl>
            <dl class="filter-item" data-ng-show="prices.length > 0">
                <dt><i class="icon-checkmark"></i>&nbsp;{{"AVAILABILITY"|translate}}</dt>
                <dd>
                    <div style="display: inline;"><input type="checkbox" data-ng-model="onlyAvailable" data-ng-change="filterByAvailable()">&nbsp;{{"AVAILABLE"|translate}}</div>
                </dd>
            </dl>
        </div>
        <div class="sortbar">
            <ul>
                <li><a href data-ng-click="sort('Name')">{{"NAME"|translate}}</a><i data-ng-class="{'icon-caret-down':sortBy=='Name' && sortReverse,'icon-caret-up':sortBy=='Name' && !sortReverse}"></i></li>
                <li data-ng-show="prices.length > 0 "><a href data-ng-click="sort('Price')">{{"PRICE"|translate}}</a><i data-ng-class="{'icon-caret-down':(sortBy=='Price' && sortReverse),'icon-caret-up':(sortBy=='Price' && !sortReverse)}"></i></li>
            </ul>
            <span><b>{{featuredServices.length + showServices.length}}</b>{{serviceType|translate}}</span>
        </div>
        <section class="thumbnail-part" data-ng-show="featuredServices.length > 0">
            <div class="title">
                <img src="images/favorite.png" class="big-icon">
                <h2>{{"FEATURED"|translate}}</h2>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4" data-ng-repeat="item in featuredServices">
                    <div class="thumbnail">
                        <a href data-ng-href="{{item.DetailsURI}}"><img
                                data-ng-src="{{item.MainInformation.LargeImageURI}}" style="width:100%;height:260px;"></a>
                        <!--<div class="caption">-->
                            <!--<ul class="ticket">-->
                                <!--<li class="title"><h3><a href data-ng-href="{{item.url}}">{{item.Name | limitTo:40}}</a></h3></li>-->
                                <!--&lt;!&ndash;<li class="text-right"><s>$120</s>&ndash;&gt;-->
                                <!--&lt;!&ndash;<p class="price">$89.00</p></li>&ndash;&gt;-->
                            <!--</ul>-->
                        <!--</div>-->
                        <div class="caption">
                            <!--<ul class="ticket">-->
                            <!--<li class="title"><h3><a data-ng-href="{{item.DetailsURI}}">{{item.Name}}</a></h3></li>-->
                            <!--&lt;!&ndash;<li class="text-right"><s>$120</s>&ndash;&gt;-->
                            <!--&lt;!&ndash;<p class="price">$89.00</p></li>&ndash;&gt;-->
                            <!--</ul>-->
                            <h3><a data-ng-href="{{item.DetailsURI}}">{{item.Name}}</a></h3>
                            <!--<a href="hotel-detail.html#comment"><span>8.3</span>451 comments</a>-->
                            <ul class="hotel">
                                <li>{{item.ServiceType.Name|limitTo:20}}<br/>{{item.Location.Name}}</li>
                                <li class="text-right price"><span>{{item.price}}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="thumbnail-part">
            <div class="title">
                <img data-ng-src="images/{{imageName}}" class="big-icon">
                <h2>{{serviceType|translate}}</h2>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4" data-ng-repeat="item in showServices">
                    <div class="thumbnail">
                        <a data-ng-href="{{item.DetailsURI}}">
                            <!--<span class="new-layer"></span>-->
                            <img data-ng-src="{{item.MainInformation.LargeImageURI}}" style="width:100%;height:260px;">
                        </a>

                        <div class="caption">
                            <!--<ul class="ticket">-->
                                <!--<li class="title"><h3><a data-ng-href="{{item.DetailsURI}}">{{item.Name}}</a></h3></li>-->
                                <!--&lt;!&ndash;<li class="text-right"><s>$120</s>&ndash;&gt;-->
                                <!--&lt;!&ndash;<p class="price">$89.00</p></li>&ndash;&gt;-->
                            <!--</ul>-->
                            <h3><a data-ng-href="{{item.DetailsURI}}">{{item.Name}}</a></h3>
                            <!--<a href="hotel-detail.html#comment"><span>8.3</span>451 comments</a>-->
                            <ul class="hotel">
                                <li>{{item.ServiceType.Name|limitTo:20}}<br/>{{item.Location.Name}}</li>
                                <li class="text-right price"><span>{{item.price}}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>