<form class="search-main" data-ng-show="!hideSearchBar">
    <div class="container">
        <div class=" row">
            <!--<div class="col-md-5 relative">-->
                <!--<i class="icon-location2"></i>-->
                <!--&lt;!&ndash;<input type="text" class="form-control" placeholder="Location">&ndash;&gt;-->
                <!--<div angucomplete-alt id="searchLocation"-->
                     <!--placeholder="Location"-->
                     <!--pause="1000"-->
                     <!--selected-object="selectedSearchLocation"-->
                     <!--local-data="searchLocations"-->
                     <!--search-fields="ProductId,Name"-->
                     <!--title-field="Name"-->
                     <!--minlength="1"-->
                     <!--input-class="form-control input"-->
                     <!--match-class="highlight"-->
                     <!--initial-value="selectedLocationName"-->
                     <!--disable-input="true">-->
                <!--</div>-->
            <!--</div>-->
            <div class="col-md-4 relative">
                <!--<i class="icon-location2"></i>-->
                <input type="text" class="form-control input" placeholder="" readonly data-ng-model="serviceItem.Name">
            </div>
            <div class="col-md-2 relative">
                <i class="icon-calendar"></i>
                <input id="startDate" type="text" class="form-control input" data-date-picker data-start-date="+1d"
                       placeholder="{{'START_DATE'|translate}}" data-ng-model="startDate" data-init-date="startDate">
            </div>
            <div class="col-md-4 relative">
                <i class="icon-users"></i>
                <input type="text" class="form-control input" placeholder="0 adult(s) 0 minor(s)"
                       data-ng-model="guestsInfo"
                       uib-popover-template="guestsTemplateUrl" popover-title="{{'GUESTS'|translate}}"
                       popover-is-open="showGuests" ng-click="showGuests = true"
                       popover-trigger="none" popover-placement="bottom">
            </div>
            <div class="col-md-1 relative">
                <a href data-ng-click="checkAvailability(true)" uib-tooltip="{{tooltips|translate}}"
                   tooltip-class="error" tooltip-is-open="showTooltip" tooltip-placement="auto top"
                   tooltip-trigger="none"><i class="icon-search"></i></a>
            </div>
        </div>
    </div>
</form>
<div class="container-bg container-padding" id="top">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="relative">
                    <div class="slides-container slider-wrap" >
                        <!-- Loading Screen -->
                        <div data-u="loading" style="position: absolute;top:0;left:0;">
                            <div class="loading-icon"></div>
                        </div>
                        <div id='slides' data-u="slides" class="slider-list-wrap">
                            <!--<div data-p="112.50" data-ng-repeat="item in serviceItem.SliderImages" data-enable-jssor data-jssor-options="jssorOptions1" data-jssor-trigger="{{$last}}">-->
                                <!--<img data-u="image" data-ng-src="{{item.ImagePath}}" />-->
                                <!--<img data-u="thumb" data-ng-src="{{item.ImagePath}}" />-->
                            <!--</div>-->
                        </div>

                        <!-- Thumbnail Navigator -->
                        <div u="thumbnavigator" class="thum-wrap" data-autocenter="1">
                            <div class="text-wrap"></div>
                            <!-- Thumbnail Item Skin Begin -->
                            <div u="slides">
                                <div u="prototype" class="p">
                                    <div class="thum-list">
                                        <div u="thumbnailtemplate" class="thum"></div>
                                    </div>
                                    <div class="layer"></div>
                                </div>
                            </div>
                            <!-- Thumbnail Item Skin End -->
                        </div>
                    </div>
                </div>
            </div>
            <section class="col-md-4">
                <div class="service-detail-info">
                        <span class="caption">{{serviceItem.Name}}</span>
                </div>
                <div><a href onclick="scrollToControl('detail')"><span >{{serviceItem.MainInformation.PlainText | limitTo: 100}} ...</span></a></div>
                <br/>
                <div class="row tab-list">
                    <div class="col-xs-6 col-md-6"> <span>{{"ID"|translate}}：</span>{{serviceItem.ProductId}}</div>
                    <div class="col-xs-6 col-md-6"> <span>{{"TYPE"|translate}}：</span>{{serviceItem.ServiceType.Name}}</div>
                    <div class="col-xs-6 col-md-6"> <span>{{"ADDRESS"|translate}}：</span>{{serviceItem.Address.Address1}}</div>
                    <div class="col-xs-6 col-md-6"> <span>{{"CITY"|translate}}：</span>{{serviceItem.Address.City}}</div>
                </div>
                <br/>
                <!--<div class="tax-com-part">-->
                    <!--<div class="col-xs-6 col-md-6"><span>9.5</span><a href="#">300 comments</a></div>-->
                    <!--<div class="col-xs-6 col-md-6"><span>12%</span><p>Tax & Service</p></div>-->
                <!--</div>-->
                <!--<div class="clearfix"></div>-->
                <div class="pos-map">
                    <a href onclick="scrollToControl('category')"><i class="glyphicon glyphicon-th-list"></i>&nbsp;{{"CATEGORIES"|translate}}</a>
                    <!--<a href onclick="scrollToControl('detail')" data-ng-show="serviceItem.AdditionalInformation.length > 0"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;Detail</a>-->
                    <a href onclick="scrollToControl('map')"><i class="glyphicon glyphicon-map-marker"></i>&nbsp;{{"LOCATION"|translate}}</a>
                    <br><br>
                    <a href onclick="scrollToControl('term')" data-ng-show="serviceItem.Warnings.length > 0"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;{{serviceItem.Warnings[0].Title}}</a>
                </div>
                <!--<div class="row">-->
                    <!--<div class="price-btn-part">-->
                        <!--<div class="col-xs-12 col-md-12 text-right">-->
                            <!--<a href class="btn btn-red">Check Availability</a></div>-->
                    <!--</div>-->
                <!--</div>-->
            </section>
        </div>
        <div class="detail-nav-wrap is-stuck">
            <nav class="container">
                <ul>
                    <li class="menu-item"><a href onclick="scrollToControl('top')">{{"TOP"|translate}}</a></li>
                    <li class="menu-item"><a href onclick="scrollToControl('category')">{{"CATEGORIES"|translate}}</a></li>
                    <li class="menu-item" data-ng-show="serviceItem.AdditionalInformation.length > 0"><a href onclick="scrollToControl('detail')">{{detailTitle}}</a></li>
                    <li class="menu-item" data-ng-show="serviceItem.Warnings.length > 0"><a href onclick="scrollToControl('term')">{{serviceItem.Warnings[0].Title}}</a></li>
                    <li class="menu-item"><a href onclick="scrollToControl('map')">{{"LOCATION"|translate}}</a></li>
                </ul>
            </nav>
        </div>
        <section class="detail-wrap" id="category">
            <!--<h3>Categories&nbsp;&nbsp;&nbsp;&nbsp;<small data-ng-show="!serviceItem.AvailabilityCategories"><a href onclick="scrollToControl('top')">Fill out information to check availability</a></small></h3>-->
            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <h3>{{"CATEGORIES"|translate}}</h3>
                </div>
                <div class="col-sm-9 col-md-9 search-box">
                    <form class="form-inline">
                        <div class="form-group pos-date">
                            <i class="icon-calendar icon"></i>
                            <input id="startDate1" type="text" class="form-control input" data-date-picker data-start-date="+1d"
                                   placeholder="{{'START_DATE'|translate}}" data-ng-model="startDate" data-init-date="startDate">
                        </div>
                        <div class="form-group pos-number">
                            <i class="icon-users icon"></i>
                            <input type="text" class="form-control input input-guests" placeholder="0 adult(s) 0 minor(s)"
                                   data-ng-model="guestsInfo"
                                   uib-popover-template="guestsTemplateUrl" popover-title="{{'GUESTS'|translate}}"
                                   popover-is-open="showGuests1" ng-click="showGuests1 = true"
                                   popover-trigger="none" popover-placement="bottom">
                        </div>
                        <div class="form-group pos-button">
                            &nbsp;&nbsp;<a href data-ng-click="checkAvailability(true)" uib-tooltip="{{tooltips|translate}}"
                                           tooltip-class="error" tooltip-is-open="showTooltip" tooltip-placement="auto top"
                                           tooltip-trigger="none"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="table-content">
                <div class="table-content">
                    <div class="table-responsive">
                        <script type="text/ng-template" id="myTooltipTemplate.html">
                            <table class="table table-bordered" style="margin-bottom:0;">
                                <thead>
                                <tr>
                                    <td>{{'GUEST'|translate}} #</td>
                                    <td>{{'TYPE'|translate}}</td>
                                    <td>{{'AGE'|translate}}</td>
                                    <td>{{"PRICE"|translate}}</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="guest in currentCategory.Guests">
                                    <td>{{$index + 1}}</td>
                                    <td>{{guest.Type}}</td>
                                    <td>{{guest.Age}}</td>
                                    <td>${{guest.Price}}</td>
                                </tr>
                                <tr>
                                    <td class="text-right" colspan="3">{{"TOTAL"|translate}}</td>
                                    <td class="text-red">${{currentCategory.Price}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </script>
                        <table class="table table-hover">
                            <thead>
                            <tr class="thead">
                                <td>{{"NAME"|translate}}</td>
                                <!--<td class="tlist-2">Service Time</td>-->
                                <td class="tlist-4">{{"PRICE"|translate}}</td>
                                <td class="tlist-4">{{"CANCEL_BY"|translate}}</td>
                                <td class="tlist-4">{{"AVAILABILITY"|translate}}</td>
                                <td class="tlist-4">{{"ACTION"|translate}}</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="item in serviceItem.AvailabilityCategories" data-ng-class="{'active':item.AvailabilityLevel=='NotAvailable'}">
                                <td>
                                    <span><strong>{{item.Name}}</strong></span>
                                    <br><span>{{"ID"|translate}}:{{item.Id}}</span>
                                </td>
                                <!--<td>{{item.ServiceTime}}</td>-->
                                <td>
                                    <span class="price" >${{item.Price}}</span>
                                    &nbsp;<i class="icon-price-tags" style="color:lightblue;cursor:pointer;"
                                             tooltip-trigger="none"
                                             tooltip-is-open="serviceItem.AvailabilityCategories[$index].showPrice"
                                             tooltip-placement="bottom" tooltip-class="customClass"
                                             uib-tooltip-template="'myTooltipTemplate.html'" data-ng-click="showHidePrice($index)"></i>
                                </td>
                                <td>{{item.CancelBy | limitTo:10}}</td>
                                <td>
                                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" style="font-size:32px; color:#99cc33;" data-ng-show="item.AvailabilityLevel == 'Available'"></span>
                                    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true" style="font-size:32px; color:#ff9900;" data-ng-show="item.AvailabilityLevel == 'NotAvailable'"></span>
                                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true" style="font-size:32px; color:#ffcc00;" data-ng-show="item.AvailabilityLevel == 'Requestable'"></span>
                                </td>
                                <td><button type="button" data-ng-class="{'btn':true, 'btn-red':(item.AvailabilityLevel != 'NotAvailable'), 'btn-default':(item.AvailabilityLevel == 'NotAvailable') }"
                                            data-ng-disabled="{{item.AvailabilityLevel=='NotAvailable'}}" data-ng-click="addToShoppingCart($index)"><span class="icon-cart" aria-hidden="true"></span>&nbsp;&nbsp;{{"ADD"|translate}}</button></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="text-center" data-ng-show="showNotAvailable">
                            <h3 class="text-info">Product is not available</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="detail-wrap" id="detail" data-ng-show="serviceItem.AdditionalInformation.length > 0">
            <h3>{{detailTitle}}</h3>
            <div class="content">
                <!--<h4>{{item.Title}}</h4>-->
                <p data-ng-repeat="item in serviceItem.AdditionalInformation" data-ng-bind-html="item.FormattedText"></p>
            </div>
        </section>
        <section class="detail-wrap" id="term" data-ng-show="serviceItem.Warnings.length > 0">
            <h3>{{serviceItem.Warnings[0].Title}}</h3>
            <div class="content">
                <!--<h4>{{hotelItem.AdditionalInformation[1].Title}}</h4>-->
                <p data-ng-repeat="item in serviceItem.Warnings" data-ng-bind-html="item.FormattedText"></p>
            </div>
        </section>
        <section class="detail-wrap" id="map">
            <h3>{{"LOCATION"|translate}}</h3>
            <div class="content">
                <!--<p><strong>Address：</strong>{{serviceItem.Address.Address1 + ', ' + serviceItem.Address.City + ', ' + serviceItem.Address.State}}</p>-->
                <p data-ng-show="serviceItem.Address.Address1 && serviceItem.Address.Address1 != ''"><strong>{{"ADDRESS"|translate}} 1：</strong>{{serviceItem.Address.Address1}}</p>
                <p data-ng-show="serviceItem.Address.Address2 && serviceItem.Address.Address2 != ''"><strong>{{"ADDRESS"|translate}} 2：</strong>{{serviceItem.Address.Address2}}</p>
                <p data-ng-show="serviceItem.Address.Address3 && serviceItem.Address.Address3 != ''"><strong>{{"ADDRESS"|translate}} 3：</strong>{{serviceItem.Address.Address3}}</p>
                <p data-ng-show="serviceItem.Address.City && serviceItem.Address.City != ''"><strong>{{"CITY"|translate}}：</strong>{{serviceItem.Address.City}}</p>
                <p data-ng-show="serviceItem.Address.State && serviceItem.Address.State != ''"><strong>{{"STATE"|translate}}：</strong>{{serviceItem.Address.State}}</p>
                <p data-ng-show="serviceItem.Address.Country && serviceItem.Address.Country != ''"><strong>{{"Country"|translate}}：</strong>{{serviceItem.Address.Country}}</p>
                <p data-ng-show="serviceItem.Address.Zip && serviceItem.Address.Zip != ''"><strong>{{"ZIP"|translate}}：</strong>{{serviceItem.Address.Zip}}</p>
                <!--ui-map="myMap" ui-options="mapOptions"-->
                <div class="map-box" id="map_canvas" data-ng-show="showMap">
                </div>
            </div>
        </section>
    </div>
</div>
<script type="text/javascript">

    function initSlider(imageData) {
        var jssorOptions = {
            $FillMode: 1, //0: streach, 1: contain, 2: cover, 4: actual size, 5: contain for large image
            $AutoPlay: true,
            $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$
            },
            $ThumbnailNavigatorOptions: {
                $Class: $JssorThumbnailNavigator$,
                $Cols: 9,
                $SpacingX: 3,
                $SpacingY: 3,
                $Align: 260
            }
        };
        var slides = $('#slides');
        var container = slides.closest('.slides-container');
        if (!container.attr("id"))
            container.attr("id", new Date().getTime());

        var innerHtml = '';
        for(var i = 0; i < imageData.length; i++ ) {
            innerHtml += '<div data-p="112.50">';
            innerHtml += '<img data-u="image" src="' + imageData[i].image + '" />';
            if(imageData[i].thumb) {
                innerHtml += '<img data-u="thumb" src="' + imageData[i].thumb + '" />';
            }
            innerHtml += '</div>';
        }
        slides.html(innerHtml);

        var jssorObject1 = new $JssorSlider$(container.attr("id"), jssorOptions);

        function ScaleSlider1() {
            var refSize = jssorObject1.$Elmt.parentNode.clientWidth;
            if (refSize) {
                refSize = Math.min(refSize, 770);
                jssorObject1.$ScaleWidth(refSize);
            }
            else {
                window.setTimeout(ScaleSlider1, 30);
            }
        }

        ScaleSlider1();
        $Jssor$.$AddEvent(window, "load", ScaleSlider1);
        $Jssor$.$AddEvent(window, "resize", ScaleSlider1);
        $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider1);

    }

    //initiating jQuery
    jQuery(function($) {
        $(document).ready( function() {
            // 为 '.navbar-wrapper' class 启用stickUp插件
            $('.detail-nav-wrap').stickUp({
                parts: {
                    0:'top',
                    1: 'category',
                    2: 'detail',
                    3:'term',
                    4: 'map'},
                itemClass: 'menu-item',
                itemHover: 'active' });
        });
    });

</script>